﻿@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}



@using Mobi.QualityControl.Web.Models
@model Mobi.QualityControl.Web.ViewModels.JobSet.JobSetEditModel



<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"> <i class="icon-custom-left"></i></a>
    <h3>@ViewBag.Title</h3>
    @if (Model.ScreenType == ScreenType.Details)
    {
        <div class="pull-right">
            <a href="@Url.Action("Edit", "JobSet", new {area = "", id = Model.JobSetId})" class="btn btn-primary "><i></i>Edit</a>
        </div>
    }
</div>

@using (Html.BeginForm("Edit", "JobSet", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.ScreenType)

    <div class="row">
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Job Set</h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>
                <div class="grid-body no-border">
                    <br>
                    <div class="row form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.JobSetName, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.JobSetName, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>

                    </div>
                    @if (Model.ScreenType != ScreenType.Details)
                    {
                        <div class="form-actions">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                                <button type="button" class="btn btn-white btn-cons">Cancel</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

        @if (Model.ScreenType != ScreenType.Create)
        {

            <div class="col-md-6">
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>Question Set Rules</h4>
                        <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                    </div>
                    <div class="grid-body no-border">
                        <div class="row">
                            @if (Model.ScreenType != ScreenType.Details)
                            {
                                <div class="widget-body">
                                    <div class="buttons pull-right">
                                        <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addQuestionSet"> Add Question Set </button>

                                    </div>
                                </div>
                            }
                            @if (Model.JobSetQuestionSets.Count > 0)
                            {
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <table class="table table-striped table-bordered table-white table-responsive swipe-horizontal table-primary">
                                        <thead>
                                            <tr>

                                                <th>
                                                    JobSet
                                                </th>

                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.JobSetQuestionSets)
                                            {
                                                <tr class="selectable">
                                                    <td>
                                                        @item.QuestionSetName
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("DeleteQuestionSetLink", "Jobset", new {area = "", id = Model.JobSetId, questionSetId = item.QuestionSetId}) " class=" btn btn-sm btn-small btn-danger">Delete</a>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert">
                                    <button class="close" data-dismiss="alert"></button>
                                    No Job Sets Rules Exist
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>Question Set Rules</h4>
                        <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                    </div>
                    <div class="grid-body no-border">
                        <div class="row">


                            @if (Model.JobSetJobsItemModels.Count > 0)
                            {

                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <table class="table table-striped table-bordered table-white table-responsive swipe-horizontal table-primary">
                                        <thead>
                                            <tr>

                                                <th>
                                                    JobSet
                                                </th>

                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.JobSetJobsItemModels)
                                            {
                                                <tr class="selectable">
                                                    <td>
                                                        @item.JobReference
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("Details", "Job", new {area = "", jobId = item.JobId})" class=" btn btn-sm btn-small btn-cons">View</a>
                                                        
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert">
                                    <button class="close" data-dismiss="alert"></button>
                                    No Jobs Exist
                                </div>
                            }

                        </div>

                    </div>
                </div>



            </div>
                    <!-- END BASIC FORM ELEMENTS-->
        }
    </div>
    if (Model.ScreenType == ScreenType.Edit)
    {
        @Html.HiddenFor(model => model.JobSetId)
    }
}








<div>
    @Html.ActionLink("Back to List", "Index", "JobSet", new { @class = "btn btn-white btn-cons" })
</div>





<div class="modal fade" id="addQuestionSet" tabindex="-1" role="dialog" aria-labelledby="addQuestionSetLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <h4 id="myModalLabel" class="semi-bold">Add Question Set</h4>
                <br>
            </div>
            @using (Html.BeginForm("AddQuestionSet", "JobSet", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row form-row">
                        <div class="col-md-8">
                            @Html.DropDownList("QuestionSetId", Model.QuestionSetListItems)
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save Changes" />
                </div>
                @Html.HiddenFor(m => m.JobSetId)

            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>








@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (Model.ScreenType == ScreenType.Details)
    {
        <script type="text/javascript">

            $("input").prop('disabled', true);
        </script>
    }
}

