﻿@model Mobi.QualityControl.Web.ViewModels.JobSet.JobSetIndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<!-- Heading -->
<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"><i class="icon-custom-left"></i></a>
    <h3>Job Sets</h3>
    <div class="buttons pull-right">
        <a href="@Url.Action("Create", "JobSet", new { area = "" })" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Add Job Set</a>
    </div>
    <div class="clearfix"></div>
</div>

<!-- // Heading END -->

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Job Set</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
                @if (Model.JobSetIndexItems.Count > 0)
                {
                    <table class="table table-hover table-condensed" id="example">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Job Set
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.JobSetIndexItems)
                            {
                                <tr class="selectable">
                                    <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobSetName)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "jobSet", new {area = "", id = item.JobSetId})" class=" btn btn-primary btn-sm .btn-small ">View</a>
                                        <a href="@Url.Action("Delete", "JobSet", new {area = "", id = item.JobSetId})" class=" btn btn-sm .btn-small btn-danger">Delete</a>
                                        <a href="@Url.Action("StartJob", "JobSet", new {area = "", id = item.JobSetId})" class=" btn btn-primary btn-sm .btn-small ">Start Job</a>
                                   </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert">
                        <button class="close" data-dismiss="alert"></button>
                        No Job Sets Exist
                    </div>
                }

            </div>
        </div>
    </div>
</div>