﻿@model Mobi.QualityControl.Web.ViewModels.JobSet.StartJobModel
@{
    ViewBag.Title = "StartJob";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}




<div class="page-title">
    <a href="@Url.Action("Index","JobSet", new {id = Model.JobSetId})"> <i class="icon-custom-left"></i></a>
    <h3>@ViewBag.Title</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.JobSetId)
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Question </h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>
                <div class="grid-body no-border">
                    <br>
                    <div class="row form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.JobReference, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.JobReference, new { @class = "form-control" })

                                </div>

                            </div>
                        </div>
                    </div>
                    @Html.ValidationSummary()
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                            <button type="button" class="btn btn-white btn-cons">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



}