﻿@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    ViewBag.Title = "Question";
}



@using System.Web.UI.WebControls
@using Mobi.QualityControl.Web.Models
@model Mobi.QualityControl.Web.ViewModels.Question.QuestionEditModel




<div class="page-title">
    <a href="@Url.Action("Edit","QuestionSet", new {id = Model.QuestionSetId})"> <i class="icon-custom-left"></i></a>
    <h3>@ViewBag.Title</h3>
    @if (Model.ScreenType == ScreenType.Details)
    {
        <div class="pull-right">
            <a href="@Url.Action("Edit", "Question", new {area = "", id = Model.QuestionId})" class="btn btn-primary "><i></i>Edit</a>
        </div>
    }
</div>

@using (Html.BeginForm("Edit", "Question", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.QuestionSetId)
    @Html.HiddenFor(m => m.ScreenType)
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Question </h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>
                <div class="grid-body no-border">
                    <br>
                    <div class="row form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.QuestionText, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.QuestionText, new { @class = "form-control" })

                                </div>

                            </div>
                            @if (Model.ScreenType == ScreenType.Edit)
                            {
                                <div class="form-group">
                                    <div class="controls">

                                        <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addLanguageText"> Add Language </button>

                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <div class="controls">
                                    @if (Model.QuestionLocalEditModels.Count() > 0)
                                    {
                                        <table class="table table-hover table-condensed" id="language">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        Language
                                                    </th>

                                                    <th>Question</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var questionLocalEditModel in Model.QuestionLocalEditModels)
                                                {
                                                    <tr>
                                                        <td></td>
                                                        <td>@questionLocalEditModel.LanguageName</td>
                                                        <td>@questionLocalEditModel.QuestionLocalText</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.LabelFor(model => model.ControlName, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @if (Model.ScreenType == ScreenType.Details)
                                    {
                                        @Html.EditorFor(model => model.ControlName)
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.ControlTypeId, Model.ControlTypes, new { @class = "form-control" })
                                    }
                                </div>
                            </div>

                            <div class="form-group controllList">
                                @Html.LabelFor(model => model.ControlLists, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.ControlListId, Model.ControlLists, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Instructions, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.EditorFor(model => model.Instructions, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DefaultValue, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.EditorFor(model => model.DefaultValue, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsHidden, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.EditorFor(model => model.IsHidden, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsMandatory, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.EditorFor(model => model.IsMandatory, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="form-group minvalue">
                                @Html.LabelFor(model => model.MinValue, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.EditorFor(model => model.MinValue, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="form-group maxvalue">
                                @Html.LabelFor(model => model.MaxValue, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.EditorFor(model => model.MaxValue, new { @class = "form-control" })

                                </div>
                            </div>

                            <div class="form-group regex">
                                @Html.LabelFor(model => model.Regex, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.EditorFor(model => model.Regex, new { @class = "form-control" })

                                </div>
                            </div>
                            @if (Model.ScreenType == ScreenType.Edit)
                            {
                                <div class="form-group">
                                    <div class="controls">

                                        <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addQuestionRuleText"> Add Question Rule </button>

                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                <div class="controls">
                                    @if (Model.QuestionRuleModels.Count() > 0)
                                    {
                                        <table class="table table-hover table-condensed" id="rule">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        Question From
                                                    </th>

                                                    <th>Evauluation Type</th>
                                                    <th>Evauluation Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var questionRuleModel in Model.QuestionRuleModels)
                                                {
                                                    <tr>
                                                        <td></td>
                                                        <td>@questionRuleModel.QuestionFromText</td>
                                                        <td>@questionRuleModel.EvalutionType</td>
                                                        <td>@questionRuleModel.EvalutionValue</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>




                        </div>


                    </div>
                    @if (Model.ScreenType != ScreenType.Details)
                    {
                        @Html.ValidationSummary()
                        <div class="form-actions">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                                <button type="button" class="btn btn-white btn-cons">Cancel</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    if (Model.ScreenType == ScreenType.Edit)
    {
        @Html.HiddenFor(m => m.QuestionId)

    }
}

<div>
    <a href="@Url.Action("Edit", "QuestionSet", new { id = @Model.QuestionSetId })">Back to Question Set</a>
</div>



<div class="modal fade" id="addLanguageText" tabindex="-1" role="dialog" aria-labelledby="addLanguageTextLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <h4 id="myModalLabel" class="semi-bold">Add Language</h4>
                <br>
            </div>
            @using (Html.BeginForm("AddQuestionTextLocal", "Question", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row form-row">
                        <div class="col-md-8">
                            @Html.DropDownList("LanguageId", Model.LanguageList)
                        </div>
                        <div class="col-md-4">
                            @Html.TextBox("QuestionLocalText")
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save Changes" />
                </div>
                @Html.HiddenFor(m => m.QuestionId)

            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addQuestionRuleText" tabindex="-1" role="dialog" aria-labelledby="addQuestionRuleTextLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <h4 id="myModalLabel" class="semi-bold">Add Rule</h4>
                <br>
            </div>
            @using (Html.BeginForm("AddQuestionRule", "Question", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row form-row">
                        <div class="col-md-8">
                            @Html.DropDownList("FromQuestionId", Model.QuestionsFromList)
                        </div>

                        <div class="col-md-8">
                            @Html.DropDownList("EvalutionType", Model.EvalutionTypes)
                        </div>
                        <div class="col-md-4">
                            @Html.TextBox("EvalutionValue")
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save Changes" />
                </div>
                @Html.HiddenFor(m => m.QuestionId)

            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (Model.ScreenType == ScreenType.Details)
    {
        <script type="text/javascript">

            $("input").prop('disabled', true);

        </script>
    }

    <script>

        //TODO Convert To Angular
        function controlVisibility(controlType) {
            $('.regex').hide();
            $('.maxvalue').hide();
            $('.minvalue').hide();
            $('.controllList').hide();

            switch (controlType) {
                case "SingleText":
                    $('.regex').show();
                    break;
                case "DropDown":
                case "Image Range":
                    $('.controllList').show();
                    break;
                case "Count":
                case "Decimal":
                case "Number":
                    $('.maxvalue').show();
                    $('.minvalue').show();


                    break;

            }
        }
        $(document).ready(function () {

            var controlValue = $('#ControlTypeId option:selected').text();
            controlVisibility(controlValue);

            $('#ControlTypeId').change(function () {
                var controlValue = $('#ControlTypeId option:selected').text();
                controlVisibility(controlValue);
            });
        });
    </script>



}
