﻿@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel


<a href="http://zxing.appspot.com/scan?ret=http://qualitycontrol.azurewebsites.net/Transaction/Barcode/id{CODE}" class="btn btn-info btn-lg btn-large"><i class="fa fa-barcode"></i> Scan Barcode</a>