﻿@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel




<div class="row-fluid">
    <div class="slide-primary">
        <input type="checkbox" name="Result" class="ios" checked="checked" id="Result"  />
    </div>
    
</div>


<script>
    window.onload = function() {
        document.getElementById('Result').focus();
    };
    
</script>