﻿@using System.Activities.Expressions
@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel

<div class="form-group">
    <div class="controls">
       @Html.EditorFor(m => m.Result, new {@class="input-lg" })
    </div>
    
    <div class="controls">
        <button id="down" class="btn btn-success btn-xlarge" onclick="modify_qty(-1); return false;">-1</button>
        <button id="up" class="btn btn-success btn-xlarge" onclick="modify_qty(1); return false">+1</button>
    </div>
</div>

<script>

    function modify_qty(val) {
        var qty = document.getElementById('Result').value;
        if (qty == '')
            qty = 0;
        var new_qty = parseInt(qty, 10) + val;

        if (new_qty < 0) {
            new_qty = 0;
        }

        document.getElementById('Result').value = new_qty;
        return new_qty;
    }

    
    window.onload = function() {
        document.getElementById('up').focus();
        var qty = document.getElementById('Result').value;
        if (qty == '') {
            document.getElementById('Result').value = 0;
        }
    };
    
    

</script>