﻿@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel

<div class="input-append success date col-md-10 col-lg-6">
    <input type="text" class="form-control datepickers" id="Result" name="Result">
    <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
</div>  

<script>
    window.onload = function () {
        document.getElementById('Result').focus();
    };

</script>