﻿@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel

<div class="input-append success date col-md-10 col-lg-6">
    <input type="text" class="form-control" id="sandbox-advance datepickers" name="Result">
    <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
</div>  

<div class="form-group">
    <label class="form-label">Default Timepicker</label>
    <div class="controls">
        <div class="input-append bootstrap-timepicker-component">
            <input type="text" class="timepicker-default span12 timepickers">
            <span class="add-on"><span class="arrow"></span><i class="fa fa-clock-o"></i></span>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('.datepickers').pickadate();
        $('.timepickers').picktime();
    </script>
}