﻿@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel

<div class="grid-body no-border">
    <div class="row">
        <div class="col-md-12">
            <br>
            <select id="Result" style="width:100%" name ="Result" >
                @foreach (var item in Model.ControlListItems)
                {
                     <option value="@item.Name">@item.Name</option>
                }
               
            </select>
        </div>
    </div>
</div>
         