﻿@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel

<select class="image-picker" name="Result">
    @foreach (var controlListItem in Model.ControlListItems)
    {
        
    <option data-img-src="@controlListItem.ImageUrl" value="@controlListItem.Value">  @controlListItem.Name  </option>
        
    }

  
   
</select>