﻿


<div class="form-group">

    <div class="controls">

        <input type="text" name="Result" id="Result" class="form-control" disabled="disabled"/>
        <input type="button" value="Get Location" onclick="javascript: showlocation();" id="LocationButton"/>   <br />
    </div>
</div>

<script>
    function showlocation() {
        // One-shot position request.
        navigator.geolocation.getCurrentPosition(callback);
    }

    function callback(position) {
        document.getElementById('Result').value = position.coords.latitude + "," + position.coords.longitude;
    }
    
   
        window.onload = function() {
            document.getElementById('LocationButton').focus();
        };
    
   
</script>