﻿@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel

<textarea id="Result" placeholder="Enter text ..." class="form-control" rows="10" name="Result"></textarea>


<script>
    window.onload = function () {
        document.getElementById('Result').focus();
    };

</script>