﻿@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel

<div class="grid-body no-border">
    <div class="row">
        <div class="col-md-4">
           
            <br>
            @foreach (var item in Model.ControlListItems)
            {
                <div class="row-fluid">
                    <div class="checkbox check-default">
                        <input id="checkbox1" type="checkbox" value="1">
                        <label for="checkbox1"> @item</label>
                    </div>
                </div>
            }
           
        </div>
        
    </div>
</div>