﻿@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel

<div class="form-group">
    <span class="help"></span>
    <div class="controls">
        <input type="text" class="form-control" pattern="[0-9]+" id="Result" name="Result">
    </div>
</div>


<script>
    window.onload = function () {
        document.getElementById('Result').focus();
    };

</script>