﻿@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel

<div class="form-group">
   
    <div class="controls">
        <input type="text" class="form-control" name="Result" id="Result" >
    </div>
</div>


<script>
    window.onload = function() {
        document.getElementById('Result').focus();
    };
    

</script>