﻿@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel


<div class="form-group">
    <label class="form-label">Default Timepicker</label>
    <div class="controls">
        <div class="input-append bootstrap-timepicker-component">
            <input type="text" class="timepickers span12" name ="Result" id="Result">
            <span class="add-on"><span class="arrow"></span><i class="fa fa-clock-o"></i></span>
        </div>
    </div>
</div>


<script>
    window.onload = function () {
        document.getElementById('Result').focus();
    };

</script>