﻿@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel
<div class="form-group">
    <div class="controls">
        <input type="text" id="Result" name="Result" class="input-lg">
    </div>

    <div class="controls">
        <button type="button" onclick="ss()" onfocus="this.blur()" id="StartButton" class="btn btn-success btn-xlarge">Start / Stop</button>
        <button type="button" onclick="r()" onfocus="this.blur()" class="btn btn-success btn-xlarge">Reset</button>
    </div>
    </div>

    <script type='text/javascript'>
        // 0/1 = start/end
        // 2 = state
        // 3 = length, ms
        // 4 = timer
        // 5 = epoch
        // 6 = disp el
        // 7 = lap count

        var t = [0, 0, 0, 0, 0, 0, 0, 1];

        function ss() {
            t[t[2]] = (new Date()).valueOf();
            t[2] = 1 - t[2];

            if (0 == t[2]) {
                clearInterval(t[4]);
                t[3] += t[1] - t[0];
               
                t[4] = t[1] = t[0] = 0;
                disp();
            } else {
                t[4] = setInterval(disp, 43);
            }
        }
        function r() {
            if (t[2]) ss();
            t[4] = t[3] = t[2] = t[1] = t[0] = 0;
            disp();
           
            t[7] = 1;
        }

        function disp() {
            if (t[2]) t[1] = (new Date()).valueOf();
            t[6].value = format(t[3] + t[1] - t[0]);
        }
        function format(ms) {
            // used to do a substr, but whoops, different browsers, different formats
            // so now, this ugly regex finds the time-of-day bit alone
            var d = new Date(ms + t[5]).toString()
            .replace(/.*([0-9][0-9]:[0-9][0-9]:[0-9][0-9]).*/, '$1');
            var x = String(ms % 1000);
            while (x.length < 3) x = '0' + x;
            d += '.' + x;
            return d;
        }

        function stopWatchLoad() {
            console.log("stopwatchLoad");

            t[5] = new Date(1970, 1, 1, 0, 0, 0, 0).valueOf();
            t[6] = document.getElementById('Result');

            disp();

            //if (!window.opener &amp;&amp; window==window.top) {
            //    document.getElementById('remote').style.visibility='visible';
            //}
        }


        
      
            window.onload = function() {
                document.getElementById('StartButton').focus();
            };
    
       
    </script>
