﻿@model Mobi.QualityControl.Web.ViewModels.Transaction.TransactionEditModel



<div class="heading-buttons">
    <h1>@ViewBag.Title</h1>
</div>

@using (Html.BeginForm("Edit","Transaction",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!-- Row -->
    <div class="row">

        <!-- Column -->
        <div class="col-md-6">
            <div class="widget widget-heading-simple widget-body-gray">

                <div class="widget-head">
                    <h4 class="heading">Question Set</h4>
                </div>

                <div class="widget-body">
               @foreach (var question in Model.Questions)
               {
                   @Html.Label(question.QuestionText)
                
                    @Html.Editor(question.QuestionText)
               }
                

                    
                

                    
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m =>m.QuestionSetId)
}
       
