﻿@using System.Collections.Specialized
@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel

@{
    ViewBag.Title = "Entry";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    ViewBag.RightMenu = "True";
}


<div class="page-title">
    <i class="icon-custom-left"></i>
    <h3>@ViewBag.Title</h3>
</div>

@using (Html.BeginForm("Next", "Transaction", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("QuestionId", Model.QuestionId.ToString())
    @Html.HiddenFor(m => m.TransactionSetId)
    @Html.Hidden("QuestionSetId", Model.QuestionSetId.ToString())
    @Html.Hidden("SequenceNo", Model.SequenceNo.ToString())
    @Html.Hidden("HiddenLocation", new { id = "HiddenLocation" })
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Question </h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>
                <div class="grid-body no-border">
                    <br>
                    <div class="row form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>@Model.QuestionText</p>
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @switch (Model.ControlType)
                                    {
                                        case "SingleText":
                                            @Html.Partial("Controls/SingleText", Model)

                                            break;
                                        case "Number":
                                        @Html.Partial("Controls/Number", Model)
                                            break;
                                        case "Image Range":
                                        @Html.Partial("Controls/ImageRange", Model)

                                        @section controlScripts{
                                            <script src="/Content/Admin/plugins/imagepicker/js/image-picker.min.js" type="text/javascript"></script>

                                            <script>
                                                $("select").imagepicker()
                                            </script>
                                        }
                                            break;
                                        case "Barcode":
                                        @Html.Partial("Controls/Barcode", Model)
                                            break;
                                        case "MutliChoice":
                                        @Html.Partial("Controls/MutliChoice", Model)
                                            break;
                                        case "MultiText":
                                        @Html.Partial("Controls/MultiText", Model)
                                            break;
                                        case "Date":
                                        @Html.Partial("Controls/Date", Model)
                                        @section controlCss{

                                            <link href="/Content/Admin/plugins/pickdate/css/default.css" rel="stylesheet" />
                                            <link href="/Content/Admin/plugins/pickdate/css/default.date.css" rel="stylesheet" />
                                        }
                                        @section controlScripts{
                                            <script src="/Content/Admin/plugins/pickdate/js/picker.js"></script>
                                            <script>
                                                $('.datepickers').pickadate();
                                            </script>
                                        }
                                            break;
                                        case "Camera":
                                        @Html.Partial("Controls/Camera", Model)
                                            break;
                                        case "Checkbox":
                                        @Html.Partial("Controls/CheckBox", Model)
                                        @section controlScripts {
                                            <script src="/Content/Admin/plugins/ios-switch/ios7-switch.js" type="text/javascript"></script>
                                            <script type="text/javascript">
                                                var Switch = require('ios7-switch')
                                                    , checkbox = document.querySelector('.ios')
                                                    , mySwitch = new Switch(checkbox);
                                                mySwitch.toggle();
                                                mySwitch.el.addEventListener('click', function (e) {
                                                    e.preventDefault();
                                                    mySwitch.toggle();
                                                }, false);
                                            //creating multiple instances

                                            </script>
                                        }
                                            break;
                                        case "Time":
                                        @Html.Partial("Controls/Time", Model)
                                      @section controlCss{

                                            <link href="/Content/Admin/plugins/pickdate/css/default.css" rel="stylesheet" />
                                            <link href="/Content/Admin/plugins/pickdate/css/default.time.css" rel="stylesheet" />
                                        }
                                        @section controlScripts{
                                            <script src="/Content/Admin/plugins/pickdate/js/picker.js"></script>
                                            <script>
                                                $('.timepickers').pickatime();
                                            </script>
                                        }
                                            break;
                                        case "DropDown":
                                        @Html.Partial("Controls/DropDown", Model)
                                            break;
                                        case "Count":
                                        @Html.Partial("Controls/Count", Model)
                                            break;
                                        case "Timer":
                                        @Html.Partial("Controls/Timer", Model)
                                    @section controlScripts{
                                        <script>
                                            $(document).ready(function () {

                                                stopWatchLoad();
                                            });
                                        </script>
                                    }
                                            break;
                                        case "Decimal":
                                        @Html.Partial("Controls/Decimal", Model)
                                            break;
                                        case "Location":
                                        @Html.Partial("Controls/Location", Model)
                                       
                                            break;
                                    }
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="form-actions">
                        <div class="pull-right">
                            @if (!Model.IsFirst)
                            {
                                <a href="@Url.Action("Previous", "Transaction", new {questionId = @Model.QuestionId, transactionSetId = @Model.TransactionSetId})" class="btn btn-primary btn-cons">Previous</a>
                            }
                            <button type="submit" class="btn btn-success btn-cons"> Next</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}


@section RightMenu
{
    <!-- BEGIN CHAT -->
    <div id="sidr" class="chat-window-wrapper">
        <div id="main-chat-wrapper">
            <div class="chat-window-wrapper fadeIn" id="chat-users">
                <div class="chat-header">

                </div>
                <div class="side-widget">
                    <div class="side-widget-title">Questions</div>
                    <div class="side-widget-content">
                        <div id="groups-list">
                            <ul class="groups ">

                                @foreach (var questionListItem in Model.QuestionsList.OrderBy(o => o.OrderPosition))
                                {
                                    <li><a class="large-text" href="@Url.Action("Entry", "Transaction", new { transactionSetId = @Model.TransactionSetId, questionId = @questionListItem.QuestionId})"><div class="status-icon  @(questionListItem.Complete ? "green" : "red" )"></div>@questionListItem.OrderPosition )  @questionListItem.ShortQuestionText</a></li>
                                }


                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            @if (Model.TransactionSetId != null)
            {


                <div class="chat-footer">
                    <div class="pull-right">
                        <a href="@Url.Action("Finish", "Transaction", new { transactionSetId = @Model.TransactionSetId, questionSetId = @Model.QuestionSetId })" class="btn btn-success btn-cons"> Complete</a>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>

    </div>
    <!-- END CHAT -->
}

@section scripts
{
    @if (!Model.IsFirst && Model.TrackLocation)
    {
        <script>
            function getTransactionSetLocation() {
                navigator.geolocation.getCurrentPosition(callback);
            }

            function callback(position) {
                document.getElementById('HiddenLocation').value = position.coords.latitude + "," + position.coords.longitude;
            }

            $(window).ready(function() {
                getTransactionSetLocation();
            });
        </script>
    }
}