﻿@model Mobi.QualityControl.Framework.ViewModel.Transaction.TransactionItemModel
@{
    ViewBag.Title = "Finish";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<!-- Heading -->
<div class="page-title">
  
    <h3>Finish</h3>
    <div class="clearfix"></div>
</div>

<!-- // Heading END -->
@using (Html.BeginForm("Finish", "Transaction"))
{
    @Html.HiddenFor(o => o.TransactionSetId)
    <div class="row-fluid">
        <div class="span12">
            <div class="grid simple ">
                <div class="grid-title">
                    <h4><span class="semi-bold">Questions</span></h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>
                <div class="grid-body ">
                    <table class="table table-hover table-condensed" id="example">
                        <thead>
                            <tr>

                                <th>
                                    Questions
                                </th>

                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.QuestionsList)
{
    <tr class="selectable   @(((item.Result == null) && (item.IsMandatory == true)) ? "mandatory" : "")">
        <td>
            <a href="@Url.Action( "Entry", "Transaction", new { transactionSetId = @Model.TransactionSetId, questionId = @item.QuestionId })">@item.QuestionText</a>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complete)
        </td>
    </tr>
}
                        </tbody>
                    </table>


                </div>
                @if (Model.QuestionsList.Any(o => o.IsMandatory && o.Result == ""))
                {
                 <p>Please Complete Mandatory Questions before you can complete</p>   
                }
                else
                {
                     <div class="form-actions">
                         <div class="pull-right">
                             <input type="submit" class="btn btn-success btn-cons" value="Complete" />
                         </div>
                         </div>
  
                }
                
            </div>
        </div>
    </div>
}