﻿@using System.Activities.Statements
@model Mobi.QualityControl.Web.ViewModels.Home.Contact
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Contact";
}
<div class="main-wrapper">
    <div role="navigation" class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="compressed">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index","Home")" class="navbar-brand compressed"><img src="/Images/logo-inv.png" alt="" data-src="/Images/logo-inv.png" data-src-retina="/Images/logo-inv.png" width="56" height="30" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        @*<li><a href="@Url.Action("Developer","Home")">Developer API</a></li>*@
                        <li><a href="@Url.Action("Pricing","Home")">Pricing</a></li>
                        <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                        <li><a href="@Url.Action("Login","Account")">Login</a></li>
                        <li><a href="@Url.Action("Register","Account")">Register</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="section first">
        <div class="container">
            <div class=" p-b-60">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h2 class="p-t-40">We would love to <span class="text-success semi-bold">hear from you</span></h2>
                        <p class="">Why not drop us a line or pick up the phone and give us a shout. Our team would love to talk to you and find ways of Making Business Easy.</p>
                    </div>
                </div>

                <div class="row p-t-30">
                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                    {
                        <div class="col-md-6 col-sm-6">
                            <div class="row form-row">
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control ", @placeholder = "Name" })

                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control ", @placeholder = "Company/Organisation" })
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control ", @placeholder = "Email Address" })
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control ", @placeholder = "PhoneNumber" })
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-10">
                                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control ", @placeholder = "Message", @rows = "8" })
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-10">
                                    <label>Please Sum the following @Model.Number1 + @Model.Number2 </label>
                                    @Html.TextBoxFor(m => m.Total, new { @class = "form-control ", @placeholder = "Total"})
                                </div>
                            </div>
                            <div>
                                @Html.ValidationSummary()
                            </div>
                            @if (TempData["Success"] != null)
                            {
                                <div class="success-message">
                                    @TempData["Success"]
                                </div>
                            }
                            <div class="row form-row">
                                <div class="col-md-10">
                                    <input type="submit" class="btn btn-primary btn-cons" value="Send" />
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(o => o.Number1)
                        @Html.HiddenFor(o => o.Number2)
                    }
                    <div class="col-md-6 feature-list">
                        <h4 class="title custom-font text-black no-margin p-b-10">TELEPHONE</h4>
                        <p class="no-margin"><i class="fa fa-phone fa-lg p-r-10 "></i> Cambridge</p>
                        <h2 class="custom-font text-black no-margin p-l-20">+44 7879 775 840</h2>


                        <section>
                            <h4 class="title custom-font text-black">BUSINESS HOURS</h4>
                            <p>
                                Monday - Friday 9am to 5.30pm<br>
                            </p>
                        </section>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="section white" style="height:350px" id="map">

    </div>
    <div class="section white">
        <div class="container">
            <div class="p-t-60 p-b-50">
                <div id="testomonials" class="owl-carousel row">
                    <div class="item">
                        <div class="col-md-6  col-md-offset-3">
                            <h3 class="normal text-center">
                                I’m really happy that Quality Controls is able to offer
                                support specifically tailored to businesses.
                            </h3>
                            <p class="text-center">Eleanor, Director, Errington Legal</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-6   col-md-offset-3">
                            <h3 class="normal text-center">
                                I’m really happy that Quality Control is able to offer

                            </h3>
                            <p class="text-center">Eleanor, Director, Errington Legal</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-6   col-md-offset-3">
                            <h3 class="semi-bold text-center">
                                Wow it made my stock take really easy, without having to invest in a complex system.
                            </h3>
                            <p class="text-center">Eleanor, Director, Errington Legal</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section black">
        <div class="container">
            <div class="p-t-60 p-b-60">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center text-white m-b-30">
                            We are currently look for <span class="semi-bold">Beta sites?</span>
                            Register your interest below
                        </h2>
                        @using (Html.BeginForm("RegisterInterest", "Home", FormMethod.Post))
                        {
                            <input type="hidden" value="index" name="ReturnUrl" />
                            <div class="row form-row">
                                <div class="col-md-6 col-md-offset-2 no-padding  col-sm-6 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                    <input name="EmailAddress" id="EmailAddress" type="text" class="form-control " placeholder="Enter your email address">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 xs-p-l-10">
                                    <input type="submit" class="btn btn-primary btn-cons" value="Register Interest" />
                                </div>
                            </div>
                             @Html.Hidden("ReturnUrl",@Url.Action("Contact","Home"))
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
    @section scripts{
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="/Content/front/plugins/jquery-gmap/gmaps.js" type="text/javascript"></script>
        <!-- END JS PLUGIN -->
        <script src="/Content/Front/js/google_maps.js" type="text/javascript"></script>

    }
