﻿@{
    ViewBag.Title = "Developer";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="main-wrapper">
<header id="ha-header" class="ha-header ha-header-hide ">
    <div class="ha-header-perspective">
        <div class="ha-header-front navbar navbar-default">

            <div class="compressed">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index","Home")" class="navbar-brand compressed"><img src="/Images/logo-inv.png" alt="" data-src="/Images/logo-inv.png" data-src-retina="/Images/logo-inv.png" width="56" height="30" /></a>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="@Url.Action("Developer","Home")">Developer API</a></li>
                        <li><a href="@Url.Action("Pricing","Home")">Pricing</a></li>
                        <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>

        </div>
    </div>
</header>
<div class="section full-view ha-waypoint" data-animate-down="ha-header-hide" data-animate-up="ha-header-hide">
    <div role="navigation" class="navbar navbar-transparent navbar-top">
        <div class="container">
            <div class="compressed">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index","Home")" class="navbar-brand compressed"><img src="/Images/logo-inv.png" alt="" data-src="/Images/logo-inv.png" data-src-retina="/Images/logo-inv.png" width="56" height="30" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="@Url.Action("Developer","Home")">Developer API</a></li>
                        <li><a href="@Url.Action("Pricing","Home")">Pricing</a></li>
                        <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!--BEGIN SLIDER -->
    <div class="tp-banner-container">
        <div class="tp-banner" id="tourSlider">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="/Content/front/img/bg/tour_bg.png" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">


                    <!-- LAYERS -->
                    <div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider"
                         data-x="300" data-hoffset="0"
                         data-y="130"
                         data-speed="600"
                         data-start="500"
                         data-easing="Power4.easeOut"
                         data-endspeed="600"
                         data-endeasing="Power0.easeIn"
                         style="z-index: 3">
                        <img src="/Content/front/img/imac.png" alt="">

                    </div>
                    <div class="tp-caption sfb slider"
                         data-x="140"
                         data-hoffset="0"
                         data-y="210"
                         data-speed="800"
                         data-start="1300"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        <img src="/Content/front/img/ipad.png" alt="">
                    </div>
                    <div class="tp-caption sfr slider"
                         data-x="615"
                         data-hoffset="0"
                         data-y="310"
                         data-speed="800"
                         data-start="1600"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        <img src="/Content/front/img/iphone.png" alt="">
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</div>
<div class="section white text-center p-t-40 p-b-40" id="banner-footer">
    <h2 class="normal m-b-10">Small + Medium + <span class="semi-bold">Large...</span> Responsive for <span class="semi-bold">every</span> screen!</h2>
    <p>No matter where you go , our product is made to fit any screen.. mobile , tablet and desktop</p>
    <button type="button" class="btn btn-primary btn-cons m-t-10">Learn More</button>
</div>
<div id="cbp-so-scroller" class="cbp-so-scroller section white ha-waypoint" data-animate-down="ha-header-color" data-animate-up="ha-header-hide">

    <section class="cbp-so-section">
        <figure class="cbp-so-side cbp-so-side-left">
            <img src="/Content/front/img/Retina.png" alt="img01">
        </figure>
        <article class="cbp-so-side cbp-so-side-right text-center middle">
            <div class="row">
                <div class="col-md-12 p-t-80 col-vlg-8 col-vlg-offset-2">
                    <img src="/Content/front/img/retina_icon.png" alt="" class="normal">
                    <h1 class="m-b-20"><span class="semi-bold">Retin</span> Ready</h1>
                    <p>Devices with Retina Display are really awesome, the image quality is incredible and this theme is ready to handle this feature. Logo and 
                    cons have the optional retina version and we also offer support to Font Icons, since they are showed with maximum quality in these devices.</p>
                    <button type="button" class="btn btn-primary btn-cons m-t-20">Learn More</button>
                </div>
            </div>
        </article>
    </section>

    <section class="cbp-so-section">
        <article class="cbp-so-side cbp-so-side-left text-center middle">
            <div class="row">
                <div class="col-md-12 p-t-40 col-vlg-8 col-vlg-offset-2">
                    <img src="/Content/front/img/Stressfree_icon.png" alt="" class="normal">
                    <h1 class="m-b-20">Stress <span class="semi-bold">Free</span> Colors</h1>
                    <p>
                        Color affects the way we feel. It can affect our moods in either a positive or negative manner. After a great research about color stress reduction , our team came up with a perfect color pallet . With the use of Colored overlays we found that the  visual stress is reduced and speed of reading is increased. And the more use of calm colors and less use of bright luminous colors we were able to give our users the best experience of stress free colors.
                    </p>
                    <button type="button" class="btn btn-primary btn-cons m-t-20">Learn More</button>
                </div>
            </div>
        </article>
        <figure class="cbp-so-side cbp-so-side-right">
            <img src="/Content/front/img/Stressfree.png" alt="img01">
        </figure>
    </section>

    <section class="cbp-so-section">
        <figure class="cbp-so-side cbp-so-side-left">
            <img src="/Content/front/img/Front.png" alt="img01">
        </figure>
        <article class="cbp-so-side cbp-so-side-right text-center middle">
            <div class="row">
                <div class="col-md-12 p-t-80 col-vlg-8 col-vlg-offset-2">
                    <img src="/Content/front/img/frontend_icon.png" alt="" class="normal">
                    <h1 class="m-b-20"><span class="semi-bold">All</span> in one!</h1>
                    <p>Devices with Retina Display are really awesome, the image quality is incredible and this theme is ready to handle this feature. Logo and favicons have the optional retina version and we also offer support to Font Icons, since they are showed with maximum quality in these devices.</p>
                    <button type="button" class="btn btn-primary btn-cons m-t-20">Learn More</button>
                </div>
            </div>
        </article>
    </section>

    <section class="cbp-so-section">
        <article class="cbp-so-side cbp-so-side-left text-center middle">
            <div class="row">
                <div class="col-md-12 p-t-80 col-vlg-8 col-vlg-offset-2">
                    <img src="/Content/front/img/condensed_icon.png" alt="" class="normal">
                    <h1 class="m-b-20"><span class="semi-bold">Condensed</span> menu</h1>
                    <p>
                        Color affects the way we feel. It can affect our moods in either a positive or negative manner. After a great research about color stress reduction , our team came up with a perfect color pallet . With the use of Colored overlays we found that the  visual stress is reduced and speed of reading is increased. And the more use of calm colors and less use of bright luminous colors we were able to give our users the best experience of stress free colors.
                    </p>
                    <button type="button" class="btn btn-primary btn-cons m-t-20">Learn More</button>
                </div>
            </div>
        </article>
        <figure class="cbp-so-side cbp-so-side-right">
            <img src="/Content/front/img/condensed.png" alt="img01">
        </figure>
    </section>
</div>
<div class="section table-layout">
    <div id="working-section" class="table-cell v-middle">
        <div>
            <h2 class="text-white text-center custom-font  no-margin">MILLIONS OF SATISFIED CUSTOMERS</h2>
        </div>
    </div>
</div>
<div class="section white">
    <div class="container">
        <div class="p-t-60 p-b-50">
            <div id="testomonials" class="owl-carousel row">
                <div class="item">
                    <div class="col-md-6   col-md-offset-3">
                        <h3 class="normal text-center">
                            I’m really happy that webarch is able to offer
                            support specifically tailored to creative businesses and I’d love Nottingham to become renowned for this.
                        </h3>
                        <p class="text-center">Caroline Hennigan, Programme Director, Broadway</p>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-6   col-md-offset-3">
                        <h3 class="normal text-center">
                            I’m really happy that webarch is able to offer
                            support specifically tailored to creative businesses and I’d love Nottingham to become renowned for this.
                        </h3>
                        <p class="text-center">Caroline Hennigan, Programme Director, Broadway</p>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-6   col-md-offset-3">
                        <h3 class="semi-bold text-center">
                            I’m really happy that webarch is able to offer
                            support specifically tailored to creative businesses and I’d love Nottingham to become renowned for this.
                        </h3>
                        <p class="text-center">Caroline Hennigan, Programme Director, Broadway</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section black">
    <div class="container">
        <div class="p-t-60 p-b-60">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center text-white m-b-30">
                        Would you like to sign up for our <span class="semi-bold">programme?</span>
                        Register your interest below
                    </h2>
                    <div class="row form-row">
                        <div class="col-md-6 col-md-offset-2 no-padding  col-sm-6 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                            <input name="form3Occupation" id="form3Occupation" type="text" class="form-control " placeholder="Enter your email addres">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 xs-p-l-10">
                            <button type="button" class="btn btn-primary btn-cons">Subscribe</button>
                        </div>
                    </div>
                    <div class="row">
                        <a href="#" class="text-white text-center col-md-11 col-sm-11 col-xs-11">or suscribte to newsletter</a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row m-t-30">
                        <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2">
                            <div class="checkbox check-default">
                                <input id="checkbox1" type="checkbox" value="1">
                                <label for="checkbox1">Daily newsletters</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="checkbox check-default">
                                <input id="checkbox2" type="checkbox" value="1">
                                <label for="checkbox2">No promotions</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2">
                            <div class="checkbox check-default">
                                <input id="checkbox3" type="checkbox" value="1">
                                <label for="checkbox3">Industry specific events</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="checkbox check-default">
                                <input id="checkbox4" type="checkbox" value="1">
                                <label for="checkbox4">Accessing News letters</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    
@section scripts
{
    <script src="/Content/front/plugins/onescroll/js/classie.js"></script>
    <script src="/Content/front/plugins/onescroll/js/cbpScroller.js"></script>
    <script type="text/javascript" src="/Content/front/plugins/jquery-nicescroll/jquery.nicescroll.min.js"></script>
    <!-- END JS PLUGIN -->
    <script>
        new cbpScroller(document.getElementById('cbp-so-scroller'));
    </script>
}
