﻿@model Mobi.QualityControl.Web.Models.Home.HomeViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.HeaderClass = "ha-header-hide";
}

<div class="main-wrapper">
    <header id="ha-header" class="ha-header ha-header-hide ">
        <div class="ha-header-perspective">
            <div class="ha-header-front navbar navbar-default">

                <div class="compressed">
                    <div class="navbar-header">
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand compressed"><img src="/Images/logo.png" alt="" data-src="/Images/logo-inv.png" data-src-retina="/Images/logo.png" width="56" height="30" /></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            @*<li><a href="@Url.Action("Developer","Home")">Developer API</a></li>*@
                            <li><a href="@Url.Action("Pricing","Home")">Pricing</a></li>
                            <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                            <li><a href="@Url.Action("Login","Account")">Login</a></li>
                            <li><a href="@Url.Action("Register","Account")">Register</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>

            </div>
        </div>
    </header>

    <div class="section ha-waypoint" data-animate-down="ha-header-hide" data-animate-up="ha-header-hide">
        <div role="navigation" class="navbar navbar-transparent navbar-top">
            <div class="container">
                <div class="compressed">
                    <div class="navbar-header">
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand"><img src="/Images/logo.png" data-src="/Images/logo.png" data-src-retina="/Images/logo.png" alt="" /></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            @*<li><a href="@Url.Action("Developer","Home")">Developer API</a></li>*@
                            <li><a href="@Url.Action("Pricing","Home")">Pricing</a></li>
                            <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                            <li><a href="@Url.Action("Login","Account")">Login</a></li>
                            <li><a href="@Url.Action("Register","Account")">Register</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!--BEGIN SLIDER -->
        <div class="tp-banner-container">
            <div class="tp-banner" id="home">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="/Content/Front/img/bg/slide_one.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">


                        <!-- LAYERS -->
                        <div class="tp-caption mediumlarge_light_white_center sft  slider"
                             data-x="center" data-hoffset="0"
                             data-y="0"
                             data-speed="500"
                             data-start="800"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            <h2 class="text-white custom-font title ">CAPTURE IT, COLLATE IT,</h2>
                            </div>
                            <div class="tp-caption mediumlarge_light_white_center sft  slider"
                                 data-x="center" data-hoffset="0"
                                 data-y="90"
                                 data-speed="500"
                                 data-start="800"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6">
                        <h2 class="text-white custom-font title ">ANALYSE IT & SHARE IT</h2>
</div>
                                <div class="tp-caption mediumlarge_light_white_center sft  slider"
                                     data-x="center" data-hoffset="0"
                                     data-y="200"
                                     data-speed="500"
                                     data-start="800"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off"
                                     style="z-index: 6">
                                    <a href="@Url.Action("Register","Account")" class="btn btn-blue btn-lg  btn-large m-r-10">Register</a>

                                </div>
                                <div class="tp-caption sfb slider slider"
                                     data-x="center"
                                     data-hoffset="0"
                                     data-y="300"
                                     data-speed="800"
                                     data-start="1000"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off"
                                     style="z-index: 6">
                                    <a href="@Url.Action("Login","Account")" class="btn btn-blue btn-lg  btn-large m-r-10">Login</a>
                                </div>
                                <div class="tp-caption fade slider  slider"
                                     data-x="center"
                                     data-hoffset="0"
                                     data-y="400"
                                     data-speed="500"
                                     data-start="800"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off"
                                     style="z-index: 6">
                                    <a href="@Url.Action("Contact")" class="text-white m-r-10">Contact Us for more details</a>
                                </div>
</li>


                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
        <!--END SLIDER

        -->
    </div>
    <div class="section ">
        <div class="container">
            <div class="p-t-40 p-b-40">
                <h2 class="text-center">Capture <span class="semi-bold">data</span>, Collate <span class="semi-bold">it</span>, Share <span class="semi-bold">it</span> , Analyse <span class="semi-bold">it</span><a href="@Url.Action("Register","Account")" class="btn btn-purple btn-lg  btn-large m-r-10">Sign up Now</a></h2>
            </div>
        </div>
    </div>
    <div class="section white ha-waypoint" data-animate-down="ha-header-color" data-animate-up="ha-header-hide">
        <div class="container">
            <div class="p-t-60">
                <div class="row">
                    <div class="col-md-12 feature-list ">
                        <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="300">
                            <h4 class="title">Capture Data</h4>
                            <p>
                                Capture data using inexpensive, modern day devices.
                            </p>
                        </div>
                        <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="600">
                            <h4 class="title">Share It</h4>
                            <p>
                                Share your data with customers in real time. Secure your data so you only give them specific view of the data.
                            </p>
                        </div>
                        <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="900">
                            <h4 class="title">Integrate</h4>
                            <p>
                                Use our API to download the data you have captured straight in to your system.
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 feature-list">
                        <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="1200">
                            <h4 class="title">Excel</h4>
                            <p>
                                We know a lot of people just want their data in to an excel spreadsheet to analyse.
                            </p>
                        </div>
                        <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1500">
                            <h4 class="title">CUSTOMIZATION</h4>
                            <p>
                                We can product custom reports in pdfs that can be automatically emailed.
                            </p>
                        </div>
                        <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1800">
                            <h4 class="title">SOCIAL</h4>
                            <p>
                                Import. Sync. Publish. Make your website the center of your online identity on the web with our powerful social integrations.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="section relative">
                    <div class="row">

                        <img src="/Content/Front/img/browser.png" alt="" class="resize p-t-60 col-md-9 hidden-xs" style="" data-ride="animated" data-animation="fadeInUp" data-delay="300">


                        <img src="/Content/Front/img/phone.png" alt="" class="resize p-t-60 col-md-2 push-bottom hidden-sm hidden-xs visible-lg visible-md" data-ride="animated" data-animation="fadeInRight" data-delay="600" style="right:9%">


                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="section grey">
        <div class="container">
            <div class="p-t-40 p-b-50 ">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            <span class="normal">Make life much easier</span><br>
                            No major infrastructure, get going in minutes <a href="@Url.Action("Register","Account")" class="btn btn-primary btn-cons m-l-30">Register</a>
                        </h2>
                    </div>
                </div>
                <br>
                <div class="row feature-list">
                    <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="300">
                        <h4 class="title custom-font">MILLIONS OF POSSIBILITIES</h4>
                        <p class="p-r-50">
                            Whether it is a simple stock take or a complex quality control process.
                        </p>
                    </div>
                    <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="600">
                        <h4 class="title custom-font">REAL TIME NOTIFICATIONS</h4>
                        <p class="p-r-50">
                            Stay informed with notifications.
                        </p>
                    </div>
                    <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="900">
                        <h4 class="title custom-font">Simple setup</h4>
                        <p class="p-r-50">
                            Try it .
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section white">
        <div class="container">
            <div class="p-t-60 p-b-50 ">
                <div class="row feature-list">
                    <div class="col-md-3 ">
                        <h4 class="custom-font title">CUSTOMERS</h4>
                        <h1 class="custom-font"><span class="number-animator" data-value="4500" data-animation-duration="800">0</span></h1>
                        <div class="col-md-8 no-padding">
                            <div class="progress transparent progress-small no-radius ">
                                <div class="progress-bar progress-bar-black animated-progress-bar " data-percentage="79%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="custom-font title">Connections</h4>
                        <h1 class="custom-font"><span class="number-animator" data-value="505" data-animation-duration="800">0</span></h1>
                        <div class="col-md-8 no-padding">
                            <div class="progress transparent progress-small no-radius no-margin">
                                <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="45%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="custom-font title">PROJECTS</h4>
                        <h1 class="custom-font"><span class="number-animator" data-value="1500" data-animation-duration="800">0</span></h1>
                        <div class="col-md-8 no-padding">
                            <div class="progress transparent progress-small no-radius no-margin">
                                <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="12%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="custom-font title">Transactions</h4>
                        <h1 class="custom-font"><span class="number-animator" data-value="14000" data-animation-duration="800">0</span></h1>
                        <div class="col-md-8 no-padding">
                            <div class="progress transparent progress-small no-radius no-margin">
                                <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="85%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section table-layout">
        <div id="working-section" class="table-cell v-middle">
            <div>
                <h2 class="text-white text-center custom-font no-margin">LOOKING FOR SOME GREAT CUSTOMERS</h2>
            </div>
        </div>
    </div>
    <div class="section white">
        <div class="container">
            <div class="p-t-60 p-b-50">
                <div id="testomonials" class="owl-carousel row">
                    <div class="item">
                        <div class="col-md-6  col-md-offset-3">
                            <h3 class="normal text-center">
                                I’m really happy that Quality Controls is able to offer
                                support specifically tailored to businesses.
                            </h3>
                            <p class="text-center">Eleanor, Director, Errington Legal</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-6   col-md-offset-3">
                            <h3 class="normal text-center">
                                I’m really happy that Quality Control is able to offer

                            </h3>
                            <p class="text-center">Eleanor, Director, Errington Legal</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-6   col-md-offset-3">
                            <h3 class="semi-bold text-center">
                                Wow it made my stock take really easy, without having to invest in a complex system.
                            </h3>
                            <p class="text-center">Eleanor, Director, Errington Legal</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section black">
        <div class="container">
            <div class="p-t-60 p-b-60">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center text-white m-b-30">
                            We are currently look for <span class="semi-bold">Beta sites?</span>
                            Register your interest below
                        </h2>
                        @using (Html.BeginForm("RegisterInterest", "Home", FormMethod.Post, new {id ="registerInterestForm"}))
                        {
                            <input type="hidden" value="index" name="ReturnUrl"/>
                            <div class="row form-row">
                                <div class="col-md-6 col-md-offset-2 no-padding  col-sm-6 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                    <input name="EmailAddress" id="EmailAddress" type="text" class="form-control " placeholder="Enter your email address">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 xs-p-l-10">
                                    <input type="submit" id="registerInterest"class="btn btn-primary btn-cons" value="Register Interest"/>
                                </div>
                            </div>
                            @Html.Hidden("ReturnUrl",@Url.Action("Index","Home"))
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
