﻿@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.HeaderClass = "navbar-default navbar-static-top";
}



<div class="main-wrapper">
    <div role="navigation" class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="compressed">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand compressed"><img src="/Images/logo-inv.png" alt="" data-src="/Images/logo-inv.png" data-src-retina="/Images/logo-inv.png" width="56" height="30" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        @*<li><a href="@Url.Action("Developer","Home")">Developer API</a></li>*@
                        <li><a href="@Url.Action("Pricing","Home")">Pricing</a></li>
                        <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                        <li><a href="@Url.Action("Login","Account")">Login</a></li>
                        <li><a href="@Url.Action("Register","Account")">Register</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>




    <div class="section first">
        <div class="container p-t-30">
            <div class="page-header">
                <h1 class="normaltext-center"><span class="p-r-10">Pricing and Plans</span> <small class="p-r-10">Simple and clear, no hidden fees</small> </h1>
                <a href="@Url.Action("Register","Account")" class="btn btn-primary btn-cons" >Sign Up</a>
            </div>
            <div class="p-t-10">
                <div class="row m-t-20 m-b-40">
                    <div class="col-md-4 m-b-40">
                        <div class="pricing-holder ">
                            <div class="inner">
                                <div class="title">
                                    Starter/ <span class="price">Free</span>
                                </div>
                                <p class="desc">Great for collecting small amounts of data or testing the sytem </p>
                              
                                <ul class="items">
                                    <li class="available">
                                        <div class="icon-holder">
                                            <i class="fa fa-check text-success "></i>
                                        </div>
                                        <div class="desc">
                                            <span class="text-black">20 transactions Per month</span>
                                        </div>
                                    </li>
                                    <li class="available">
                                        <div class="icon-holder">
                                            <i class="fa fa-check text-success "></i>
                                        </div>
                                        <div class="desc">
                                            <span class="text-black">Capture data offline</span>
                                            <br>
                                            <span class="muted">(app available for iOS and Android)</span><br>
                                           
                                        </div>
                                    </li>
                                    <li class="available">
                                        <div class="icon-holder">
                                            <i class="fa fa-check text-success "></i>
                                        </div>
                                        <div class="desc">
                                            <span class="text-black">Export to Excel</span>
                                            <br>

                                        </div>
                                    </li>
                                    <li class="available">
                                        <div class="icon-holder">
                                            <i class="fa fa-check text-success "></i>
                                        </div>
                                        <div class="desc">
                                            <span class="text-black">Connect with one person</span>
                                            <br>
                                            <span class="muted"></span>
                                        </div>
                                    </li>
                                </ul>
                                <a href="@Url.Action("Register","Account")" class="btn btn-block btn-danger" type="button">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 m-b-30">
                        <div class="pricing-holder highlighted">
                            <div class="inner">
                                <div class="title">
                                    Unlimited/ <span class="price">£100 Per month // £1000 per Year</span>
                                </div>
                                <p class="desc">Unlimited transactions Unlimited Users </p>
                                <ul class="items">
                                    <li class="available">
                                        <div class="icon-holder">
                                            <i class="fa fa-check text-success "></i>
                                        </div>
                                        <div class="desc">
                                            <span class="text-black">20 transactions Per month</span>
                                        </div>
                                    </li>
                                    <li class="available">
                                        <div class="icon-holder">
                                            <i class="fa fa-check text-success "></i>
                                        </div>
                                        <div class="desc">
                                            <span class="text-black">Capture data offline</span>
                                            <br>
                                            <span class="muted">(app available for iOS and Android)</span><br>

                                        </div>
                                    </li>
                                    <li class="available">
                                        <div class="icon-holder">
                                            <i class="fa fa-check text-success "></i>
                                        </div>
                                        <div class="desc">
                                            <span class="text-black">Export to Excel</span>
                                            <br>

                                        </div>
                                    </li>
                                    <li class="available">
                                        <div class="icon-holder">
                                            <i class="fa fa-check text-success "></i>
                                        </div>
                                        <div class="desc">
                                            <span class="text-black">Connect with one person</span>
                                            <br>
                                            <span class="muted"></span>
                                        </div>
                                    </li>
                                </ul>
                                <button class="btn btn-block btn-primary" type="button">Subscribe</button>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 m-b-30">
                        <div class="pricing-holder">
                            <div class="inner">
                                <div class="title">
                                    Standard/ <span class="price text-warning">£5 per user/ per month</span>
                                </div>
                                <p class="desc">Use, by you or one client, in a single end product which end users are not charged for </p>
                                <ul class="items">
                                    <li class="available">
                                        <div class="icon-holder">
                                            <i class="fa fa-check text-success "></i>
                                        </div>
                                        <div class="desc">
                                            <span class="text-black">20 transactions Per month</span>
                                        </div>
                                    </li>
                                    <li class="available">
                                        <div class="icon-holder">
                                            <i class="fa fa-check text-success "></i>
                                        </div>
                                        <div class="desc">
                                            <span class="text-black">Capture data offline</span>
                                            <br>
                                            <span class="muted">(app available for iOS and Android)</span><br>

                                        </div>
                                    </li>
                                    <li class="available">
                                        <div class="icon-holder">
                                            <i class="fa fa-check text-success "></i>
                                        </div>
                                        <div class="desc">
                                            <span class="text-black">Export to Excel</span>
                                            <br>

                                        </div>
                                    </li>
                                    <li class="available">
                                        <div class="icon-holder">
                                            <i class="fa fa-check text-success "></i>
                                        </div>
                                        <div class="desc">
                                            <span class="text-black">Connect with one person</span>
                                            <br>
                                            <span class="muted"></span>
                                        </div>
                                    </li>
                                </ul>
                                <button class="btn btn-block btn-warning " type="button">Subscribe</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="section black">
        <div class="container">
            <div class="p-t-60 p-b-60">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center text-white m-b-30">
                            Additional Development
                        </h2>
                        <div class="row form-row">
                            We also offer bespoke development. If you require integration with existing systems, bespoke mobile apps or specific changes. Please contact support@qualitycontrol.mobi.
                        </div>
                </div>

            </div>
        </div>
    </div>
