﻿@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}



@using Mobi.QualityControl.Web.Models
@model Mobi.QualityControl.Web.ViewModels.ControlList.ControlListEditModel



<div class="page-title">
    <a href="@Url.Action("Index","ControlList")">  <i class="icon-custom-left"></i></a>
    <h3>@ViewBag.Title</h3>
    @if (Model.ScreenType == ScreenType.Details)
    {
        <div class="pull-right">
            <a href="@Url.Action("Edit", "ControlList", new {area = "", id = Model.ControlListId})" class="btn btn-primary "><i></i>Edit</a>
        </div>
    }
</div>




<div class="row">
    <div class="col-md-6">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>Control List</h4>

                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            @using (Html.BeginForm("Edit", "ControlList", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ControlListId)
                @Html.HiddenFor(m => m.ScreenType)
                <div class="grid-body no-border">
                    <br>
                    <div class="row form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ControlListName, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.ControlListName, new { @class = "form-control" })

                                </div>
                            </div>
                        </div>
                        @Html.ValidationSummary(true)
                    </div>
                    @if (Model.ScreenType != ScreenType.Details)
                    {
                        <div class="form-actions">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                                <button type="button" class="btn btn-white btn-cons">Cancel</button>
                            </div>

                        </div>

                    }

                </div>
            }
        </div>
    </div>
    @if (Model.ScreenType != ScreenType.Details)
    {
    <div class="col-md-6">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>Import </h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body no-border">
                <div class="row-fluid">
                    @using (Html.BeginForm("ImportNew", "ControlList", FormMethod.Post, new { @class = "dropzone no-margin" }))
                    {

                        <div class="fallback">
                            <input name="ExcelFile" type="file" multiple />
                        </div>
                        @Html.HiddenFor(o => o.ControlListId)
                    }
                </div>
            </div>
        </div>
    </div>
    }
    @if (Model.ScreenType != ScreenType.Create)
    {
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Items</h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>
                <div class="grid-body no-border">
                    <br>
                    <div class="row">
                        @if (Model.ScreenType != ScreenType.Details)
                        {

                          
                            <div class="widget-body">
                                <div class="buttons pull-right">
                                    <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addControlListItem"> Add Control List Item </button>
                                </div>
                            </div>

                                <!-- Modal -->
                            <div class="modal fade" id="addControlListItem" tabindex="-1" role="dialog" aria-labelledby="addControlListItemLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <br>
                                            <h4 id="myModalLabel" class="semi-bold">Control List Item</h4>
                                            <br>
                                        </div>
                                        @using (Html.BeginForm("AddControlListItem", "ControlList", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <div class="modal-body">
                                                <div class="row form-row">
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" placeholder="Value" name="ItemName">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="file" class="form-control" placeholder="Image" name="UploadFile" id="UploadFile">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <input type="submit" class="btn btn-primary" value="Save Changes" />
                                            </div>
                                            @Html.HiddenFor(o => o.ControlListId)
                                        }
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                                <!-- /.modal -->
                        }
                        <div class="col-md-8 col-sm-8 col-xs-8">

                            <div class="widget-body">

                                <div class="clearfix"></div>
                                <table class="table table-striped table-bordered table-white table-responsive swipe-horizontal table-primary">
                                    <thead>
                                        <tr>

                                            <th>
                                                Name
                                            </th>
                                            @if(Model.HasImages)
                                            {<th>Image</th>}
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ControlListModelItems)
                                        {
                                            <tr class="selectable">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ItemName)
                                                </td>
                                                @if(Model.HasImages)
                                                {<td>
                                                    <img src="@item.ImageUrl" />
                                                </td>
}
                                                <td>
                                                    
                                                    <a href="@Url.Action("DeleteItem", "ControlList", new { area = "", id = item.ControlListItemId }) " class=" btn btn-sm .btn-small btn-danger">Delete</a>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    }


</div>


@if (Model.ScreenType == ScreenType.Edit)
{
    @Html.HiddenFor(model => model.ControlListId)
}









<div>
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-white btn-cons" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (Model.ScreenType == ScreenType.Details)
    {
        <script type="text/javascript">

            $("input").prop('disabled', true);
        </script>
    }
    else
    {

        <script src="/Content/Admin/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>

    }

}
