﻿@model Mobi.QualityControl.Web.ViewModels.ControlList.ControlListIndexModel


<!-- Heading -->
<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"> <i class="icon-custom-left"></i></a>
    <h3>Control List</h3>
    <div class="buttons pull-right">
        <a href="@Url.Action("Create", "ControlList", new { area = "" })" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Add Control List</a>
    </div>
    <div class="clearfix"></div>
</div>

<!-- // Heading END -->

<div class="row">
    <div class="col-md-12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Table <span class="semi-bold">Control List</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" id="example">
                    <thead>
                        <tr>

                            <th>
                                Control List
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ControlListIndexItems)
                        {
                            <tr class="selectable">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ControlListName)
                                </td>
                                <td>

                                    <a href=" @Url.Action("Details", "ControlList", new { area = "", id = item.ControlListId }) " class=" btn btn-primary btn-sm btn-small ">View</a>
                                    <a href=" @Url.Action("Delete", "ControlList", new { area = "", id = item.ControlListId }) " class=" btn btn-sm btn-small btn-danger">Delete</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>

    </div>
   
    
   
</div>
