﻿@model Mobi.QualityControl.Web.ViewModels.User.UserViewModel

<li class="account dropdown dd-1">
    <a data-toggle="dropdown" href="#" class="glyphicons logout lock"><span class="hidden-md hidden-sm hidden-desktop-1">Account</span><i></i></a>
    <ul class="dropdown-menu pull-right">
        <li class="profile">
            <span>
                  @if (Request.IsAuthenticated)
                {                    
                 <span class="heading">Profile <a href="@Url.Action( "Manage", "Account", new {area = ""})" class="pull-right text-primary text-weight-regular">edit</a></span>
                <a href="@Url.Action( "Manage", "Account", new {area = ""})" class="img thumb">
                    <img data-src="holder.js/51x51/dark" alt="Avatar" />
                </a>
                <span class="details">
                    <a href="@Url.Action( "Manage", "Account", new {area = ""})" class="strong text-regular">@User.Identity.Name</a>
                    
                </span>
                <span class="clearfix"></span>
                    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                    {
                    @Html.AntiForgeryToken()
                    <a id="logoff">Log off</a>
                    }
                    <script>
                        $('#logoff').click(function () {
                            $('#logoutForm').submit();
                        });
                    </script>
                }
                else
                {
                    <ul>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
               
            </span>
        </li>
        <li>
            <span>
              


            </span>
        </li>
    </ul>
</li>
