﻿@model Mobi.QualityControl.Web.ViewModels.Job.JobEditModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<!-- Heading -->
<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"><i class="icon-custom-left"></i></a>
    <h3>Job Sets</h3>
    <div class="buttons pull-right">
    </div>
    <div class="clearfix"></div>
</div>

<!-- // Heading END -->

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Transactions Sets</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
                @if (Model.JobTransactionSetItems.Count > 0)
                {
                    <table class="table table-hover table-condensed" id="example">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                   Transaction Sets
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.JobTransactionSetItems)
                            {
                                <tr class="selectable">
                                    <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransRef)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Transaction", new {area = "", id = item.TransactionSetId})" class=" btn btn-primary btn-sm .btn-small ">View</a>
                                        <a href="@Url.Action("Delete", "Transaction", new {area = "", id = item.TransactionSetId})" class=" btn btn-sm .btn-small btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert">
                        <button class="close" data-dismiss="alert"></button>
                        No Transaction Sets Exist
                    </div>
                }

            </div>
        </div>
    </div>
</div>