﻿@using System.Runtime.InteropServices
@model Mobi.QualityControl.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change Password";
}


<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"> <i class="icon-custom-left"></i></a>
    <h3>@ViewBag.Title</h3>
</div>
@using (Html.BeginForm("ChangePassword", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="row">
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Manage Password</h4>
                    
                </div>
                <div class="grid-body no-border">
                    <br>
                    <div class="row form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="controls">
                                    @Html.LabelFor(m => m.OldPassword, new { @class = "form-label" })
                                    @Html.PasswordFor(m => m.OldPassword, new {@class="form-control"})
                                </div>
                                @Html.LabelFor(m => m.NewPassword, new { @class = "form-label" })
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })


                            </div>

                            <div class="form-actions">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                                   
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
