﻿@model Mobi.QualityControl.Web.Models.LoginModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Quality Control Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link href="/Content/Admin/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/Content/Admin/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Admin/plugins/boostrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Admin/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Admin/css/animate.min.css" rel="stylesheet" type="text/css" />
    <!-- END CORE CSS FRAMEWORK -->
    <!-- BEGIN CSS TEMPLATE -->
    <link href="/Content/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Admin/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Admin/css/magic_space.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Admin/css/custom-icon-set.css" rel="stylesheet" type="text/css" />
    <!-- END CSS TEMPLATE -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="error-body no-top lazy" data-original="/Content/Admin/img/BlueBack.jpg" style="background-image: url('/Content/Admin/img/BlueBack.jpg')">
    <div class="container">

        <div class="row login-container animated fadeInUp">
            <div class="col-md-7 col-md-offset-2 tiles white no-padding">
                <div class="p-t-30 p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10">
                    <h2 class="normal">Sign in to QC</h2>

                    <p class="p-b-20">Sign up Now! for a QC accounts</p>
                    <button type="button" class="btn btn-primary btn-cons" id="login_toggle">Login</button> or&nbsp;&nbsp;<button type="button" class="btn btn-info btn-cons" id="register_toggle"> Create an account</button>
                </div>
                <div class="tiles grey p-t-20 p-b-20 text-black">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, @class = "animated fadeIn", @id = "frm_login" }))
                    {
                        @Html.AntiForgeryToken()



                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="col-md-6 col-sm-6 ">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                            </div>
                            <div class="col-md-6 col-sm-6">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            </div>
                        </div>
                        <div class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="control-group  col-md-10">
                                <div class="checkbox checkbox check-success">
                                    <a href="@Url.Action("ForgotPassword")">Trouble login in?</a>&nbsp;&nbsp;
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @*<input type="checkbox" id="checkbox1" value="1">*@
                                    <label for="checkbox1">Keep me reminded </label>
                                    <input type="submit" class="btn btn-primary btn-cons" id="Sign" value="Sign in" />
                                </div>
                            </div>

                        </div>
                        @Html.ValidationSummary(true)
                    }

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "animated fadeIn", @style = "display:none;", @id = "frm_register" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="col-md-12">
                                <input name="CompanyName" id="reg_companyName" type="text" class="form-control" placeholder="CompanyName">
                            </div>
                        </div>
                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">

                            <div class="col-md-6 col-sm-6">
                                <input name="FirstName" id="reg_first_Name" type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input name="LastName" id="reg_Last_Name" type="text" class="form-control" placeholder="Last Name">
                            </div>

                        </div>
                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">


                            <div class="col-md-6 col-sm-6">
                                <input name="UserName" id="reg_username" type="text" class="form-control" placeholder="Email Address">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input name="Password" id="reg_pass" type="password" class="form-control" placeholder="Password">
                            </div>



                        </div>
                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="col-md-12">
                                <input name="Code" id="reg_code" type="text" class="form-control" placeholder="Beta Code">
                            </div>
                        </div>


                        <div class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="control-group  col-md-10">
                                <div class="checkbox checkbox check-success">


                                    <input type="submit" class="btn btn-primary btn-cons" id="Sign" value="Register" />
                                </div>
                            </div>

                        </div>

                        @Html.ValidationSummary(true)

                    }
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN CORE JS FRAMEWORK-->
    <script src="/Content/Admin/plugins/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/Content/Admin/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Content/Admin/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="/Content/Admin/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/Content/Admin/plugins/jquery-lazyload/jquery.lazyload.min.js" type="text/javascript"></script>
    <script src="/Content/Admin/js/login_v2.js" type="text/javascript"></script>
    <!-- BEGIN CORE TEMPLATE JS -->
    <!-- END CORE TEMPLATE JS -->
    @if (ViewBag.PageType == "Register")
    {
        <script>
            $(document).ready(function () {
                $('#frm_login').hide();
                $('#frm_register').show();
                $('#reg_companyName').focus();
            });
        </script>
    }
    else
    {
        <script>
            $(window).ready(function () {
                $("#UserName").focus();
            });
        </script>
    }
</body>



</html>