﻿@model Mobi.QualityControl.Web.ViewModels.Menu.MenuViewModel

<!-- Menu -->

<ul>
    @foreach (var menu in Model.Menus)
				{
        <li class=""> <a href="@menu.Link"> <i class="fa @menu.Icon"></i>  <span class="title">@menu.MenuName</span></a></li>
				}
</ul>

<!-- // Menu END -->