﻿@model Mobi.QualityControl.Web.Views.Approval.ApprovalIndexModel

@{
    ViewBag.Title = "Approvals";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"> <i class="icon-custom-left"></i></a>
    <h3>Control List</h3>
    <div class="buttons pull-right">
        <a href="@Url.Action("Create", "ControlList", new { area = "" })" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Add Control List</a>
    </div>
    <div class="clearfix"></div>
</div>

<!-- // Heading END -->

<div class="row">
    <div class="col-md-12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4><span class="semi-bold">Approvals</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" id="example">
                    <thead>
                        <tr>

                            <th>
                               Approvals
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ApprovalIndexItems)
                        {
                            <tr class="selectable">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApprovalStepId)
                                </td>
                                <td>

                                    <a href=" @Url.Action("Approve", "Approval", new { area = "", id = item.ApprovalStepId }) " class=" btn btn-primary btn-sm btn-small ">Approve</a>
                                    <a href=" @Url.Action("Reject", "Approval", new { area = "", id = item.ApprovalStepId }) " class=" btn btn-sm btn-small btn-danger">Reject</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>

    </div>



</div>



