﻿@model Mobi.QualityControl.Web.ViewModels.ApplicationLogs.ApplicationIndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<!-- Heading -->
<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"><i class="icon-custom-left"></i></a>
    <h3>ApplicaitonLogs</h3>
    <div class="buttons pull-right">
        
        <a href="@Url.Action("Index", "ApplicationLog", new { area = "", includeDismissed = Model.IncludeDismissed })" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Include Dismissed</a>
    </div>
    <div class="clearfix"></div>
</div>

<!-- // Heading END -->

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Application Log</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" id="example">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Creation Date</th>
                            <th>Company</th>
                            <th>User</th>
                            <th>Exception</th>
                            <th>Message</th>
                            <th>Level</th>
                           

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ApplicationLogItems)
                        {
                            <tr class="selectable">
                                <td></td>
                                <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.Company)</td>
                                <td>@Html.DisplayFor(modelItem => item.User)</td>
                                <td>@Html.DisplayFor(modelItem => item.Exception)</td>
                                <td>@Html.DisplayFor(modelItem => item.Message)</td>
                                <td>@Html.DisplayFor(modelItem => item.Level)</td>
                                
                                

                                <td>
                                   
                                        <a href="@Url.Action("DismissLog", "ApplicationLog", new { area = "", id = item.ApplicationId })" class=" btn btn-sm .btn-small btn-info">Dismiss</a>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>