﻿@{
    Layout = null;

}


<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Quality Control - @ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico?=v2" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="Little Parsley" name="author" />

    @Styles.Render("~/Styles/frontcss")
    <!-- END CSS TEMPLATE -->

  

   

</head>
<!-- END HEAD -->
<body>

    @RenderBody()
    <div class="section white footer">
        <div class="container">
            <div class="p-t-30 p-b-50">
                <div class="row">
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 xs-m-b-20">
                        <img src="/Images/logo-inv.png" alt="" data-src="/Images/logo-inv.png" data-src-retina="/Images/logo-inv.png" width="56" height="30" />
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-4  col-xs-12 xs-m-b-20">
                        <div>(+44)7879775840</div>
                        support@qualitycontrol.mobi
                        <div class="xs-no-padding col-md-6 col-lg-6 col-sm-6">

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 xs-m-b-20">

                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 xs-m-b-20">

                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 ">
                        Copyright © 2014
                        Privacy Policy
                        Little Parsley
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
   @Scripts.Render("~/bundles/front")

    @RenderSection("scripts", false)
    <script type="text/javascript" src="/Content/Front/js/core.js"></script>
    


</body>
