﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="error-wrapper container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-xs-10">
            <div class="error-container">
                <div class="error-main">
                    <div class="error-number"> Oh no! </div>
                    <div class="error-description"> Houston we have a problem. </div>
                    <div class="error-description-mini"> The Administrator has been notified. If this problem persists, please contact customerservices@qualitycontrol.mobi </div>
                    <br>
                    
                    <br>
                    <a href="@Url.Action("Index","Dashboard")" class="btn btn-primary btn-cons" type="button">Go To Dashboard</a>
                </div>
            </div>

        </div>
    </div>
</div>