﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"> <i class="icon-custom-left"></i></a>
    <h3>@ViewBag.Title</h3>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>Company</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>





            <div class="grid-body no-border">
                <form action="@Url.Action("Process")" method="POST" id="payment-form">
                    <span class="payment-errors"></span>

                    <div class="form-group">
                            <label>Card Number</label>
                            <input type="text" size="20" data-stripe="number" />
                    </div>

                    <div class="form-group">
                        
                            <label>CVC</label>
                            <input type="text" size="4" data-stripe="cvc" />
                    </div>
                    <div class="form-group">
                        
                            <label>Expiration (MM/YYYY)</label>
                       
                            <input type="text" size="2" data-stripe="exp-month" />
                        
                        <span> / </span>
                        <input type="text" size="4" data-stripe="exp-year" />
                    </div>

                    <button type="submit">Submit Payment</button>
                    
                    
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        // This identifies your website in the createToken call below
        Stripe.setPublishableKey('pk_test_CuFodwg2jmo5j1RYbEd7x59g');
        // ...
        var stripeResponseHandler = function (status, response) {
            var $form = $('#payment-form');
            console.log(response);
            if (response.error) {
                // Show the errors on the form
                $form.find('.payment-errors').text(response.error.message);
                $form.find('button').prop('disabled', false);
            } else {
                // token contains id, last4, and card type
                var token = response.id;
                console.log(token);
                // Insert the token into the form so it gets submitted to the server
                $form.append($('<input type="hidden" name="StripeToken" />').val(token));
                // and submit
              $form.get(0).submit();
            }
        };


        jQuery(function ($) {
            $('#payment-form').submit(function (event) {
                var $form = $(this);

                // Disable the submit button to prevent repeated clicks
                $form.find('button').prop('disabled', true);

                Stripe.card.createToken($form, stripeResponseHandler);

                // Prevent the form from submitting with the default action
                return false;
            });
        });
    </script>
}
