﻿@model Mobi.QualityControl.Web.ViewModels.ControlType.ControlTypeIndexModel


@{
   
    ViewBag.Title = "Control Types";
    ViewBag.H1 = "Control Types";
    ViewBag.Description = "Set up different controls";
}


<!-- Heading -->
<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"><i class="icon-custom-left"></i></a>
    <h3>Result Views</h3>
    <div class="buttons pull-right">
        <a href="@Url.Action("Create", "Results", new { area = "" })" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Add Result View</a>
    </div>
    <div class="clearfix"></div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Table <span class="semi-bold">Result Views</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
                @if (Model.ControlTypeItems.Count > 0)
                {

                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>

                                <th>
                                    Results Views
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ResultViewIndexItems)
                            {
                                <tr class="selectable">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ResultViewName)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "Results", new {area = "", id = item.ResultViewId})" class=" btn btn-primary btn-sm .btn-small ">View</a>

                                        <a href="@Url.Action("Delete", "Results", new {area = "", id = item.ResultViewId})" class=" btn btn-sm .btn-small btn-danger">Delete</a>
                                        @if (item.TransactionCount > 0)
                                        {
                                            <a href="@Url.Action("ViewResults", "Results", new {area = "", id = item.ResultViewId})" class=" btn btn-sm .btn-small btn-info">View Transactions</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert">
                        <button class="close" data-dismiss="alert"></button>
                        No Result Views Exist
                    </div>
                }

            </div>
        </div>
    </div>
</div>