﻿@using Mobi.QualityControl.Web.Models
@model Mobi.QualityControl.Web.ViewModels.Company.CompanyEditModel 
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"> <i class="icon-custom-left"></i></a>
    <h3>@ViewBag.Title</h3>
    @if (Model.ScreenType == ScreenType.Details)
    {
        <div class="pull-right">
            <a href="@Url.Action("Edit", "Company", new {area = ""})" class="btn btn-primary "><i></i>Edit</a>
        </div>
    }
</div>



@using (Html.BeginForm("Edit", "Company", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.ScreenType)
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Company</h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>





                <div class="grid-body no-border">
                    <br>
                    <div class="row form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyName, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
                                   
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyWebsiteUrl, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CompanyWebsiteUrl, new { @class = "form-control" })
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyAddress1, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CompanyAddress1, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyAddress2, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CompanyAddress2, new { @class = "form-control" })

                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyAddress3, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CompanyAddress3, new { @class = "form-control" })

                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyAddress4, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CompanyAddress4, new { @class = "form-control" })

                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.PostCode, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.PostCode, new { @class = "form-control" })

                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.ContactNumber, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control" })

                                </div>
                            </div>
                            
                            @*<div class="form-group">
                                @Html.LabelFor(model => model.SubscriptionType, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.SubscriptionType, Model.SubscriptionList, new { @class = "form-control" })

                                </div>
                            </div>*@

                            @if (Model.ScreenType != ScreenType.Details)
                            {
                                @Html.ValidationSummary()
                                <div class="form-actions">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                                       
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
}