﻿@using Mobi.QualityControl.Web.Models
@model Mobi.QualityControl.Web.ViewModels.Results.ResultViewEditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


<div class="page-title">
    <a href="@Url.Action("Index","Results")">  <i class="icon-custom-left"></i></a>
    <h3>@ViewBag.Title</h3>
    @if (Model.ScreenType == ScreenType.Details)
    {
        <div class="pull-right">
            <a href="@Url.Action("Edit", "Results", new {area = "", id = Model.ResultViewId})" class="btn btn-primary "><i></i>Edit</a>
        </div>
    }
</div>


@if (Model.ResultViewName != null || Model.ScreenType == ScreenType.Create)
{

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Result View</h4>

                    <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>
                @using (Html.BeginForm("Edit", "Results", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.ResultViewId)
                    @Html.HiddenFor(m => m.ScreenType)
                    <div class="grid-body no-border">
                        <br>
                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ResultViewName, new { @class = "form-label" })
                                    <span class="help">&nbsp;</span>
                                    <div class="controls">
                                        @Html.EditorFor(model => model.ResultViewName, new { @class = "form-control" })

                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ResultViewName, new { @class = "form-label" })
                                    <span class="help">&nbsp;</span>
                                    <div class="controls">
                                        @if (Model.QuestionSetId == Guid.Empty)
                                        {
                                            @Html.DropDownListFor(model => model.QuestionSetId, Model.QuestionSetList, new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(m => m.QuestionSetName, new { @class = "form-control" })
                                            @Html.HiddenFor(o => o.QuestionSetId)
                                        }
                                    </div>
                                </div>

                            </div>

                        </div>
                        @if (Model.ScreenType != ScreenType.Details)
                        {
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                                    <button type="button" class="btn btn-white btn-cons">Cancel</button>
                                </div>
                            </div>
                        }

                    </div>
                }
            </div>
        </div>
    </div>
        if (Model.ScreenType != ScreenType.Create)
{
    <div class="row">
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Rules</h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>
                <div class="grid-body no-border">
                    <br>
                    <div class="row">
                        @if (Model.ScreenType != ScreenType.Details)
                        {
                            <div class="widget-body">
                                <div class="buttons pull-right">
                                    <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addRule"> Add Rule </button>
                                </div>
                            </div>

                                <!-- Modal -->
                            <div class="modal fade" id="addRule" tabindex="-1" role="dialog" aria-labelledby="addRuleLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <br>
                                            <h4 id="myModalLabel" class="semi-bold">Add Rule</h4>
                                            <br>
                                        </div>
                                        @using (Html.BeginForm("AddRule", "Results", FormMethod.Post))
                                        {
                                            <div class="modal-body">
                                                <div class="row form-row">
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("QuestionId", Model.QuestionList)
                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.DropDownList("ViewEvalutionType", Model.EvaluationTypes)
                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.TextBox("ExpressionValue")
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <input type="submit" class="btn btn-primary" value="Save Changes" />
                                            </div>
                                            @Html.HiddenFor(m => m.ResultViewId)

                                        }
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                                <!-- /.modal -->
                        }
                        <div class="col-md-8 col-sm-8 col-xs-8">

                            <div class="widget-body">

                                <div class="clearfix"></div>
                                @if (Model.ResultViewItemModels.Count > 0)
                                {
                                    <table class="table table-striped table-bordered table-white table-responsive swipe-horizontal table-primary">
                                        <thead>
                                            <tr>

                                                <th>
                                                    Question
                                                </th>
                                                <th>
                                                    Type
                                                </th>
                                                <th>
                                                    Value
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.ResultViewItemModels)
                                            {
                                                <tr class="selectable">
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.QuestionText)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ViewEvalutionType)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ExpressionValue)
                                                    </td>


                                                    <td>
                                                        @*<a href=" @Url.Action("Details", "Question", new { area = "", id = item.ControlListItemId }) " class=" btn-action glyphicons eye_open btn-default"><i></i></a>
                                                            <a href=" @Url.Action("Edit", "Question", new { area = "", id = item.ControlListItemId }) " class=" btn-action glyphicons pencil btn-success"><i></i></a>
                                                            <a href=" @Url.Action("Delete", "Question", new { area = "", id = item.ControlListItemId }) " class=" btn-action glyphicons remove_2 btn-danger"><i></i></a>*@

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="alert">
                                        <button class="close" data-dismiss="alert"></button>
                                        No Result Views Items Exist
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Display Items</h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>
                <div class="grid-body no-border">
                    <br>
                    <div class="row">
                        @if (Model.ScreenType != ScreenType.Details)
                        {
                            <div class="widget-body">
                                <div class="buttons pull-right">
                                    <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addDisplayColumn"> Add DisplayColumn </button>
                                </div>
                            </div>

                                    <!-- Modal -->
                            <div class="modal fade" id="addDisplayColumn" tabindex="-1" role="dialog" aria-labelledby="addDisplayColumnLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <br>
                                            <h4 id="myModalLabel" class="semi-bold">Add DisplayColumn</h4>
                                            <br>
                                        </div>
                                        @using (Html.BeginForm("AddDisplayColumn", "Results", FormMethod.Post))
                                        {
                                            <div class="modal-body">
                                                <div class="row form-row">
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("QuestionId", Model.QuestionList)
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <input type="submit" class="btn btn-primary" value="Save Changes" />
                                            </div>
                                            @Html.HiddenFor(m => m.ResultViewId)

                                        }
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                                    <!-- /.modal -->
                        }
                        <div class="col-md-8 col-sm-8 col-xs-8">

                            <div class="widget-body">

                                <div class="clearfix"></div>
                                @if (Model.ResultViewDisplayItemModels.Count > 0)
                                {
                                    <table class="table table-striped table-bordered table-white table-responsive swipe-horizontal table-primary">
                                        <thead>
                                            <tr>

                                                <th>
                                                    Question
                                                </th>

                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.ResultViewDisplayItemModels)
                                            {
                                                <tr class="selectable">
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.QuestionText)
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="alert">
                                        <button class="close" data-dismiss="alert"></button>
                                        No Result Display Items Exist
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>










    <div class="row">

        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Relationships</h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>
                <div class="grid-body no-border">
                    <br>
                    <div class="row">
                        @if (Model.ScreenType != ScreenType.Details)
                        {
                            <div class="widget-body">
                                <div class="buttons pull-right">
                                    <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addCompanyShare"> Add Company Share </button>
                                </div>
                            </div>

                                <!-- Modal -->
                            <div class="modal fade" id="addCompanyShare" tabindex="-1" role="dialog" aria-labelledby="addCompanyShareLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <br>
                                            <h4 id="myModalLabel" class="semi-bold">Add DisplayColumn</h4>
                                            <br>
                                        </div>
                                        @using (Html.BeginForm("AddCompanyShareView", "Results", FormMethod.Post))
                                        {
                                            <div class="modal-body">
                                                <div class="row form-row">
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("CompanyId", Model.CompaniesList)
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <input type="submit" class="btn btn-primary" value="Save Changes" />
                                            </div>
                                            @Html.HiddenFor(m => m.ResultViewId)

                                        }
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                                <!-- /.modal -->
                        }
                        <div class="col-md-8 col-sm-8 col-xs-8">

                            <div class="widget-body">

                                <div class="clearfix"></div>
                                @if (Model.ResultViewShareModels.Count > 0)
                                {
                                    <table class="table table-striped table-bordered table-white table-responsive swipe-horizontal table-primary">
                                        <thead>
                                            <tr>

                                                <th>
                                                    Shares
                                                </th>

                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.ResultViewShareModels)
                                            {
                                                <tr class="selectable">
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CompanyName)
                                                    </td>


                                                    <td>
                                                        @*<a href=" @Url.Action("Details", "Question", new { area = "", id = item.ControlListItemId }) " class=" btn-action glyphicons eye_open btn-default"><i></i></a>
                                                            <a href=" @Url.Action("Edit", "Question", new { area = "", id = item.ControlListItemId }) " class=" btn-action glyphicons pencil btn-success"><i></i></a>
                                                            <a href=" @Url.Action("Delete", "Question", new { area = "", id = item.ControlListItemId }) " class=" btn-action glyphicons remove_2 btn-danger"><i></i></a>*@

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="alert">
                                        <button class="close" data-dismiss="alert"></button>
                                        No Result Share Items Exist
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>


    </div>
}

    <div class="row"></div>
    

    if (Model.ScreenType == ScreenType.Edit)
    {
        @Html.HiddenFor(model => model.ResultViewId)
    }








}
else
{ <div class="alert">
            <button class="close" data-dismiss="alert"></button>
            No Result View Exist
        </div>}
<div>
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-white btn-cons" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (Model.ScreenType == ScreenType.Details)
    {
        <script type="text/javascript">

            $("input").prop('disabled', true);
        </script>
    }
}
