﻿model Mobi.QualityControl.Web.ViewModels.Results.ResultViewIndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<!-- Heading -->
<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"><i class="icon-custom-left"></i></a>
    <h3>Result Views</h3>

    <div class="clearfix"></div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Table <span class="semi-bold">Shared Result Views</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
                @if (Model.ResultViewSharedIndexItems.Count > 0)
                {

                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>

                                <th>
                                    Shared Results Views
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ResultViewSharedIndexItems)
                            {
                                <tr class="selectable">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ResultViewName)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("ResultView", "Results", new { area = "", id = item.ResultViewId })" class=" btn btn-sm .btn-small btn-info">View Transactions</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert">
                        <button class="close" data-dismiss="alert"></button>
                        No Result Views Exist
                    </div>
                }

            </div>
        </div>
    </div>
</div>