﻿@model Mobi.QualityControl.Web.ViewModels.Results.TransactionSetResultModel
@{
    ViewBag.Title = "ViewAllForQuestionSet";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<!-- Heading -->
<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")">
        <i class="icon-custom-left"></i>
    </a>
    <h3>Results</h3>

    <div class="clearfix"></div>
</div>

<!-- // Heading END -->

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Table <span class="semi-bold">Question Set</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" id="example">
                    <thead>
                        <tr>
                            @foreach (var questionHeader in Model.QuestionResultHeaders.OrderBy(o => o.OrderPosition))
                            {
                                <th>@questionHeader.QuestionName</th>
                            }


<th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transactionSetItem in Model.TransactionSetItems)
                        {
                            <tr class="selectable">
                                @foreach (var questionHeader in Model.QuestionResultHeaders.OrderBy(o => o.OrderPosition))
                                {

                                    var questionTrans = transactionSetItem.TransactionResultItems.FirstOrDefault(o => o.QuestionId == questionHeader.QuestionId);
                                    if (questionTrans != null)
                                    {
                                        <td> @questionTrans.ResultValue</td>
                                    }
                                    else
                                    {
                                        <td> </td>
                                    }

                                }

                                <td>
                                    <a href="@Url.Action("View", "Transaction", new { area = "", id = transactionSetItem.TransactionSetId })" class=" btn btn-primary btn-sm .btn-small ">View</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>