﻿@using Mobi.QualityControl.Web.Models
@model Mobi.QualityControl.Web.ViewModels.User.ManageProfileModel
@{
    ViewBag.Title = "Manage Profile";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"> <i class="icon-custom-left"></i></a>
    <h3>@ViewBag.Title</h3>
    <div class="pull-right">
        <a href="@Url.Action("Details", "Company", new {area = ""})" class="btn btn-primary "><i></i>View Company</a>
    </div>
</div>



@using (Html.BeginForm("ManageProfile", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!-- Row -->
    <div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>User Profile </h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
                
                
                
                

            <div class="grid-body no-border">
                <br>
                <div class="row form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, new { @class = "form-label" })
                            <span class="help">&nbsp;</span>
                            <div class="controls">
                                @Html.EditorFor(model => model.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, new { @class = "form-label" })
                            <span class="help">&nbsp;</span>
                            <div class="controls">
                                @Html.EditorFor(model => model.LastName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Languages, new { @class = "form-label" })
                            <span class="help">&nbsp;</span>
                            <div class="controls">
                                @Html.DropDownListFor(m=>m.LanguageId,@Model.Languages)
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>
                       

                        @if (Model.ScreenType != ScreenType.Details)
                        {
                            @Html.ValidationSummary()
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                                    <button type="button" class="btn btn-white btn-cons">Cancel</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    if (Model.ScreenType == ScreenType.Edit)
    {
        @Html.HiddenFor(m => m.UserProfileId)

    }
}