﻿@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section controlCss
{
    <style>
    #questionSort {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

        #questionSort li {
            margin: 0 3px 3px 3px;
            padding: 1em 0em 2em 1em;
            font-size: 1.4em;
            height: 18px;
            background-color: #e2e8eb;
        }

            #questionSort li span {
                position: absolute;
                margin-left: -1.3em;
            }

            .sort-button {
                margin-right: 6px;
            }
</style>
}

@using Mobi.QualityControl.Web.Models
@model Mobi.QualityControl.Web.ViewModels.QuestionSet.QuestionSetEditModel



<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"> <i class="icon-custom-left"></i></a>
    <h3>@ViewBag.Title</h3>
    @if (Model.ScreenType == ScreenType.Details)
    {
        <div class="pull-right">
            <a href="@Url.Action("Edit", "QuestionSet", new {area = "", id = Model.QuestionSetId})" class="btn btn-primary "><i></i>Edit</a>
        </div>
    }
</div>

@using (Html.BeginForm("Edit", "QuestionSet", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.ScreenType)

    <div class="row">
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Question Set</h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>
                <div class="grid-body no-border">
                    <br>
                    <div class="row form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.QuestionSetName, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.QuestionSetName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TrackLocation, new { @class = "form-label" })
                                <span class="help">&nbsp;</span>
                                <div class="controls">
                                    @Html.EditorFor(model => model.TrackLocation, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                    </div>
                    @if (Model.ScreenType != ScreenType.Details)
                    {
                        <div class="form-actions">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                                <button type="button" class="btn btn-white btn-cons">Cancel</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

        @if (Model.ScreenType != ScreenType.Create)
        {
            <div class="col-md-6">
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>Questions</h4>
                        <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                    </div>
                    <div class="grid-body no-border">
                        <br>
                        <div class="row">
                            @if (Model.ScreenType != ScreenType.Details)
                            {
                                <div class="widget-body">
                                    <div class="buttons pull-right">
                                        <a href="@Url.Action("Create", "Question", new {area = "", id = Model.QuestionSetId})" class="btn btn-primary "><i></i>Add Question</a>

                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-8 col-xs-8">

                                @if (Model.QuestionItems.Count > 0)
                                {
                                    <table class="table table-striped table-bordered table-white table-responsive swipe-horizontal table-primary">
                                        <thead>
                                            <tr>

                                                <th>
                                                    Question
                                                </th>

                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <ul id="questionSort">
                                        @foreach (var item in Model.QuestionItems)
                                        {
                                            <li id="@item.QuestionId">

                                                @item.QuestionText
                                                
                                                <div class="pull-right sort-button">
                                                    <a href="@Url.Action("Details", "Question", new {area = "", id = item.QuestionId}) " class=" btn btn-primary btn-sm btn-small ">View</a>
                                                    <a href="@Url.Action("Delete", "Question", new {area = "", id = item.QuestionId, questionSetId = Model.QuestionSetId}) " class=" btn btn-sm btn-small btn-danger">Delete</a>
                                                </div>

                                            </li>
                                        }

                                    </ul>
                                }
                                else
                                {
                                    <div class="alert">
                                        <button class="close" data-dismiss="alert"></button>
                                        No Questions Exist
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>Approval Rules</h4>
                        <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                    </div>
                    <div class="grid-body no-border">
                        <div class="row">
                            @if (Model.ScreenType != ScreenType.Details)
                            {
                                <div class="widget-body">
                                    <div class="buttons pull-right">
                                        <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addApprovalStep"> Add Approval Step </button>

                                    </div>
                                </div>
                            }
                            @if (Model.ApprovalRuleItems.Count > 0)
                            {
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <table class="table table-striped table-bordered table-white table-responsive swipe-horizontal table-primary">
                                        <thead>
                                            <tr>

                                                <th>
                                                    User
                                                </th>

                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ApprovalRuleItems)
                                            {
                                                <tr class="selectable">
                                                    <td>
                                                        @item.UserName
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("Delete", "Question", new {area = "", id = item.ApprovalRuleId, questionSetId = Model.QuestionSetId}) " class=" btn btn-sm btn-small btn-danger">Delete</a>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert">
                                    <button class="close" data-dismiss="alert"></button>
                                    No Approval Rules Exist
                                </div>
                            }
                        </div>
                    </div>
                </div>



            </div>
            <!-- END BASIC FORM ELEMENTS-->
        }
    </div>
    if (Model.ScreenType == ScreenType.Edit)
    {
        @Html.HiddenFor(model => model.QuestionSetId)
    }
}








<div>
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-white btn-cons" })
</div>





<div class="modal fade" id="addApprovalStep" tabindex="-1" role="dialog" aria-labelledby="addApprovalStepLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <h4 id="myModalLabel" class="semi-bold">Add Approval Step</h4>
                <br>
            </div>
            @using (Html.BeginForm("AddApprovalRule", "QuestionSet", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row form-row">
                        <div class="col-md-8">
                            @Html.DropDownList("UserId", Model.UserList)
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save Changes" />
                </div>
                @Html.HiddenFor(m => m.QuestionSetId)

            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>








@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (Model.ScreenType == ScreenType.Details)
    {
        <script type="text/javascript">

            $("input").prop('disabled', true);
        </script>
    }
    else
    {


        <script type="text/javascript">
            $(document).ready(function() {
                $('#questionSort').sortable({
                    placeholder: "dragging",

                    update: function() {
                        var stringDiv = "";
                        $("#questionSort").children().each(function(i) {
                            var li = $(this);
                            stringDiv += " " + li.attr("id") + '=' + i + '&';
                        });
                        $.ajax({
                            url: '@Url.Action("QuestionOrder")',
                            type: 'POST',
                          
                            data: { items: stringDiv },
                            traditional: true,
                            success: function() {
                                console.log("saved");
                            }
                        });


                    }

                });
            });
        </script>
    }
}

