﻿@model Mobi.QualityControl.Web.ViewModels.QuestionSet.QuestionSetIndexModel


<!-- Heading -->
<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"><i class="icon-custom-left"></i></a>
        <h3>Question Sets</h3>
        <div class="buttons pull-right">
            <a href="@Url.Action("Create", "QuestionSet", new { area = "" })" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Add Question Set</a>
        </div>
        <div class="clearfix"></div>
</div>

<!-- // Heading END -->

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Table <span class="semi-bold">Question Set</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" id="example">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Question Set
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.QuestionSetItems)
                        {
                            <tr class="selectable">
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuestionSetName)
                                </td>
                                <td>
                                    @if (item.QuestionCount > 0)
                                    {
                                        <a href="@Url.Action("Start", "Transaction", new { area = "", id = item.QuestionSetId })" class=" btn btn-success btn-sm .btn-small ">Start</a>
                                    }
                                    <a href="@Url.Action("Details", "QuestionSet", new { area = "", id = item.QuestionSetId })" class=" btn btn-primary btn-sm .btn-small ">View</a>
                                   
                                    <a href="@Url.Action("Delete", "QuestionSet", new { area = "", id = item.QuestionSetId })" class=" btn btn-sm .btn-small btn-danger">Delete</a>
                                    @if (item.TransactionCount > 0)
                                    {
                                        <a href="@Url.Action("ViewAllForQuestionSet", "Results", new { area = "", id = item.QuestionSetId }) " class=" btn btn-sm .btn-small btn-info">View Transactions</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>