﻿@using Mobi.QualityControl.Web.Models
@model Mobi.QualityControl.Web.ViewModels.Relationship.RelationshipEditModel

@{
    ViewBag.Title = "Relationship";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="page-title">
    <a href="@Url.Action("Index","Relationship")"> <i class="icon-custom-left"></i></a>
    <h3>@ViewBag.Title</h3>
    @if (Model.ScreenType == ScreenType.Details)
    {
        <div class="pull-right">
            <a href="@Url.Action("Edit", "Relationship", new {area = "", id = Model.RelationshipId})" class="btn btn-primary "><i></i>Edit</a>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-6">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>Question Set</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body no-border">
                <br>
                <div class="row form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyName, new { @class = "form-label" })
                            <span class="help">&nbsp;</span>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.AcceptedDate, new { @class = "form-label" })
                            <span class="help">&nbsp;</span>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.AcceptedDate, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-white btn-cons" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (Model.ScreenType == ScreenType.Details)
    {
        <script type="text/javascript">

            $("input").prop('disabled', true);
        </script>
    }
}
