﻿@model Mobi.QualityControl.Web.ViewModels.Relationship.RelationshipIndexModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<!-- Heading -->
<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"> <i class="icon-custom-left"></i></a>
    <h3>Connections</h3>
    <div class="buttons pull-right">
        <a href="@Url.Action("RequestRelationship", "Relationship", new { area = "" })" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Request Connection</a>
    </div>
    <div class="clearfix"></div>
</div>

<!-- // Heading END -->
<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Requests </h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" id="example">
                    <thead>
                        <tr>

                            <th>
                                Company
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.RelationshipRequestItems)
                        {
                            <tr class="selectable">
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </td>
                                <td>

                                    @using (Html.BeginForm("RelationshipResponse", "Relationship", FormMethod.Post))
                                    {
                                        <a href=" @Url.Action("ViewRequest", "Relationship", new { area = "", id = item.RequestId }) " class=" btn btn-info btn-cons ">View Request</a>
                                        @Html.Hidden("CompanyRelationshipRequestId", item.RequestId)
                                        <input type="submit" class="btn btn-success btn-cons" value="Accept" name="action" />
                                        <input type="submit" class="btn btn-danger btn-cons" value="Reject" name="action" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Existing <span class="semi-bold">Connections</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" id="example">
                    <thead>
                        <tr>

                            <th>
                                Company
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CompanyItems)
                        {
                            <tr class="selectable">
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", "Relationship", new { area = "", id = item.CompanyId }) " class=" btn btn-primary   ">View</a>
                                    <a href="@Url.Action("Transactions", "Relationship", new { area = "", id = item.CompanyId }) " class=" btn  btn-info ">Transaction Views</a>
                                    <a href="@Url.Action("Delete", "Relationship", new { area = "", id = item.CompanyId }) " class=" btn  btn-danger ">Remove</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Outstanding <span class="semi-bold">Connections</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" id="example">
                    <thead>
                        <tr>

                            <th>
                                CompanyName
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OutstandingRequestItems)
                        {
                            <tr class="selectable">
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>