﻿@model Mobi.QualityControl.Web.ViewModels.Relationship.RequestRelationshipModel

@{
    ViewBag.Title = "Request Relationship";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}



<div class="page-title">
    <a href="@Url.Action("Index","Relationship")"> <i class="icon-custom-left"></i></a>
    <h3>@ViewBag.Title</h3>
</div>
@using (Html.BeginForm("RequestRelationship", "Relationship", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
   
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple">
                        <div class="grid-body no-border" style="min-height: 850px;">
                            <br>
                            <div class="row-fluid ">
                                <h2>Request Connection </h2>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="form-label">Sender</label>
                                        <span class="help">e.g. "someone@example.com"</span>
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @placeholder = "Message", @rows = 25 })

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-success btn-cons" value="Send" /> 
                                        <a href="@Url.Action("Index","Dashboard")" class="btn btn-white btn-cons">Cancel</a>
                                    </div>
                                </div>
                            </div>

                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <div class="clearfix"></div>




}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
