﻿@model Mobi.QualityControl.Web.ViewModels.Relationship.RelationshipViewRequestModel

@{
    ViewBag.Title = "View Request";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}



<div class="page-title">
    <a href="@Url.Action("Index","Relationship")"> <i class="icon-custom-left"></i></a>
    <h3>@ViewBag.Title</h3>
</div>
@using (Html.BeginForm("RelationshipResponse", "Relationship", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.CompanyRelationshipRequestId)
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple">
                        <div class="grid-body no-border" style="min-height: 850px;">
                            <br>
                            <div class="row-fluid ">
                                <h2>Request Connection </h2>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="form-label">From</label>
                                       
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" ,@disabled="disabled"})
                                          

                                        </div>
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @placeholder = "Message", @rows = 25, @disabled = "disabled" })

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-success btn-cons" value="Accept" name="action" />
                                        <input type="submit" class="btn btn-danger btn-cons" value="Reject" name="action"/>
                                        <a href="@Url.Action("Index","Relationship")" class="btn btn-white btn-cons">Cancel</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>




}
