﻿@model Mobi.QualityControl.Web.ViewModels.Dashboard.DashboardIndexItem

<div class="col-md-3 col-sm-6 spacing-bottom-sm spacing-bottom">
    <div class="tiles blue added-margin">
        <div class="tiles-body">
            <div class="controller">
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>

            <a href="@Url.Action("Start", "Transaction", new {id = @Model.EntityId})">
                <div class="tiles-title">
                    Shortcut Start
                </div>
                <div class="heading">
                    <span>@Model.Name</span>

                </div>
                <div class="description"><i class="icon-custom-up"></i><span class="text-white mini-description ">&nbsp; 2% higher <span class="blend">than last month</span></span></div>
              
            </a>
        </div>
    </div>
</div>