﻿@model Mobi.QualityControl.Web.ViewModels.Dashboard.DashboardEditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<!-- Heading -->
<div class="page-title">
    <a href="@Url.Action("Index","Dashboard")"><i class="icon-custom-left"></i></a>
    <h3>Manage Dashboard</h3>
    <div class="buttons pull-right">
        @*<a href="@Url.Action("Create", "QuestionSet", new { area = "" })" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Add Dashboard Item</a>*@
    </div>
    <div class="clearfix"></div>
</div>

<!-- // Heading END -->

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Dashboard Items</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" id="example">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Dashboard Item
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Type
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DashboardEditItems)
                        {
                            <tr class="selectable">
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DashboardType)
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>