﻿@using Mobi.QualityControl.Framework.Enum
@model Mobi.QualityControl.Web.ViewModels.Dashboard.DashboardIndexModel

<!-- Heading -->
<div class="page-title">

    <h3>Dashboard</h3>
    <div class="buttons pull-right">
        <a href="@Url.Action("Edit", "Dashboard", new { area = "" })" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Manage Dashboard</a>
    </div>
    <div class="clearfix"></div>
</div>
<div id="container">
    <div class="row spacing-bottom 2col">
        @if (Model.DashboardIndexItems.Count > 0)
        {
            foreach (var dashboardItem in Model.DashboardIndexItems)
            {
                switch (dashboardItem.DashboardType)
                {
                    case DashboardType.QuestionSetStart:
                        @Html.Partial("DashboardItems/QuestionSetStart", dashboardItem)
                        break;
                }
            }
        }
        else
        {
            <h4> No Dashboard Items Configured</h4>
        }
        <div class="col-md-3 col-sm-6 spacing-bottom-sm spacing-bottom">
            <div class="tiles green added-margin">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title">
                        Goods In Faliures
                    </div>
                    <div class="heading">
                        <span class="animate-number" data-value="25" data-animation-duration="1000">0</span>
                    </div>
                    <div class="progress transparent progress-small no-radius">
                        <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="10%"></div>
                    </div>
                    <div class="description"><i class="icon-custom-up"></i><span class="text-white mini-description ">&nbsp; 2% higher <span class="blend">than last month</span></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 spacing-bottom">
            <div class="tiles red added-margin">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title">
                        Bleach Mix Faliures
                    </div>
                    <div class="heading">
                        <span class="animate-number" data-value="4" data-animation-duration="1200">0</span>
                    </div>
                    <div class="progress transparent progress-white progress-small no-radius">
                        <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="45%"></div>
                    </div>
                    <div class="description"><i class="icon-custom-up"></i><span class="text-white mini-description ">&nbsp; 5% higher <span class="blend">than last month</span></span></div>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
     
       

    </div>
</div>

@section scripts{
    
  
}